@charset "utf-8";
/**
 * Created with WebStorm.
 * User: rico ricopter@qq.com
 * Date: 2015/10/15
 * Time: 9:44
 * */
@import
"mixin",
"variable",
"reset",
"icon",
"type",
"animate",
"animation";

a:focus, input[type=button] ,input[type=submit] { outline:none; }

.fl-rg,.g-fl-rg{
  float: right;
}
.g-fl-lf{
  float: left;
}
.clearfix {
  zoom: 1;
}

.clearfix::before, .clearfix::after {
  display: table;
  line-height: 0;
  content: ""
}

.clearfix::after {
  clear: both;
}

.mtb10{
  margin: Rem(20) 0;
}
.u-hidden{
  display: none;
}
.displayBox{
  display:-webkit-box; /* Safari and Chrome */
  display:-moz-box; /* Firefox */
  display:box;
}
.u-color-default{
  color:$font-them-color;
}
.text-overflow{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.g-fixed-top{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $z-index-base+10;
}
.u-lazy-img{
  background: url("../../img/lazy_logo.png") no-repeat center center;
  background-size:contain;
}
img{
  @extend .u-animation-fade;
}
.u-noTips-center{
  text-align: center;
  margin: Rem(20) auto;
}
.autoWH{
  height: 100%;
  //width: 100%;
}
.autoH{
  height: 100%;
}
.overflow{
  overflow: hidden;
}

.g-scrollable {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.scrollTouch{
  overflow:auto;/* winphone8和android4+ */
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch; /* ios5+ */
}

.g-flex{
  display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box; /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox; /* 混合版本语法: IE 10 */
  display: -webkit-flex; /* 新版本语法: Chrome 21+ */
  display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
}

.scrollMain{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    //@extend .scrollTouch;
}
html,body{
  @extend .autoWH;
  @extend .overflow;
  //overflow-x:hidden;
  //overflow-y:hidden;
  //position: relative;
}
.g-app{
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  @extend .g-flex;
  -webkit-box-orient:vertical;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-tap-highlight-color:transparent;
  margin: 0 auto;
  z-index: 0;
  min-width: Rem(320);
  max-width: Rem(750);
  transition: all ease 0.2s;
  @extend .clearfix;
  position: relative;
  left:0;
  top:0;
  @extend .autoH;
  overflow-x:hidden;
  overflow-y:scroll;

  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  /*闪烁抖动*/
  -webkit-backface-visibility: hidden;
}

.g-body{
  @extend .autoWH;
}

.u-opacity-hidden{
  opacity: 0;
}
.u-opacity-show{
  opacity: 1;
}

.u-scrollBar{
  @extend .autoH;
  //position: relative;
  //overflow-x:hidden;
  //overflow-y:scroll;
  //overflow-scrolling: touch;
  //-webkit-overflow-scrolling: touch;
}
.u-fixed-top{
  position:fixed;
  left: 0;
  top:0;
  width: 100%;
  z-index: 1222;
}
@-webkit-keyframes rotation {
  10% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
  50%, 60% { transform: rotate(0deg); -webkit-transform: rotate(0deg) }
  90% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
  100% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
}
@keyframes rotation {
  10% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
  50%, 60% { transform: rotate(0deg); -webkit-transform: rotate(0deg) }
  90% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
  100% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
}
#orientLayer { display: none; }
@media screen and (min-aspect-ratio: 13/8) {
  #orientLayer { display: block; }
}
.mod-orient-layer { display: none; position: fixed; height: 100%; width: 100%; left: 0; top: 0; right: 0; bottom: 0; background: #000; z-index: 9997 }
.mod-orient-layer__content { position: absolute; width: 100%; top: 45%; margin-top: -75px; text-align: center }
.mod-orient-layer__icon-orient {
  background-image: url('../../img/orient.png');display: inline-block; width: 67px; height: 109px;
  transform: rotate(90deg); -webkit-transform: rotate(90deg); -webkit-animation: rotation infinite 1.5s ease-in-out; animation: rotation infinite 1.5s ease-in-out; -webkit-background-size: 67px; background-size: 67px }
.mod-orient-layer__desc { margin-top: 20px; font-size: 15px; color: #fff }
