@charset "utf-8";
.sprite {
    background-image: url(../../../../../activity/2016/memberData/img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}
//@media only screen and (-webkit-min-device-pixel-ratio:3),only screen and (min-device-pixel-ratio:3),only screen and (min-resolution:3dppx){/* 兼容iphone 6 */
//    .sprite{
//        background-image: url(../../img/index/spritesheet15x.png);
//    }
//}

.sprite-candle1 {
    width: 91px;
    height: 97px;
    background-position: -5px -5px;
}

.sprite-candle2 {
    width: 91px;
    height: 96px;
    background-position: -5px -112px;
}

.sprite-candle3 {
    width: 91px;
    height: 97px;
    background-position: -5px -218px;
}

.sprite-p1_01 {
    width: 578px;
    height: 106px;
    background-position: -5px -325px;
    //width: Rem(578);
    //height: Rem(106);
    //background-position: Rem(-5) Rem(-325);
}

.sprite-p1_03 {
    width: 421px;
    height: 110px;
    background-position: -5px -441px;
}

.sprite-p1_07 {
    width: 456px;
    height: 215px;
    background-position: -5px -561px;
}

.sprite-p2_03 {
    width: 376px;
    height: 240px;
    background-position: -5px -786px;
}

.sprite-p2_07 {
    width: 342px;
    height: 216px;
    background-position: -5px -1036px;
}

.sprite-p2_10 {
    width: 215px;
    height: 267px;
    background-position: -5px -1262px;
}

.sprite-p2_13 {
    width: 42px;
    height: 41px;
    background-position: -5px -1539px;
}

.sprite-p2_19 {
    width: 51px;
    height: 51px;
    background-position: -5px -1590px;
}

.sprite-p2_22 {
    width: 32px;
    height: 32px;
    background-position: -5px -1651px;
}

.sprite-p2_27 {
    width: 576px;
    height: 470px;
    background-position: -5px -1693px;
}

.sprite-p3_03 {
    width: 40px;
    height: 42px;
    background-position: -5px -2173px;
}

.sprite-p3_07 {
    width: 227px;
    height: 146px;
    background-position: -5px -2225px;
}

.sprite-p3_11 {
    width: 666px;
    height: 341px;
    background-position: -5px -2381px;
}

.sprite-p3_14 {
    width: 617px;
    height: 518px;
    background-position: -5px -2732px;
}

.sprite-p5_03 {
    width: 534px;
    height: 98px;
    background-position: -5px -3260px;
}
