/* line 3, ../../../sass/park/pc/car.scss */
.my-car {
  padding: Rem(40) Rem(20);
}
/* line 6, ../../../sass/park/pc/car.scss */
.my-car.no-padding {
  padding: 0;
}
/* line 10, ../../../sass/park/pc/car.scss */
.my-car .title {
  vertical-align: middle;
}
/* line 13, ../../../sass/park/pc/car.scss */
.my-car .title .iconfont-park {
  float: left;
  font-size: Rem(45);
  color: #f95d5b;
  margin-right: Rem(10);
}
/* line 20, ../../../sass/park/pc/car.scss */
.my-car .title .title-text {
  font-size: Rem(30);
  line-height: Rem(44);
}
/* line 27, ../../../sass/park/pc/car.scss */
.my-car .manage-btn {
  padding: Rem(20) 0;
}

/* line 32, ../../../sass/park/pc/car.scss */
.car-search {
  position: relative;
}
/* line 35, ../../../sass/park/pc/car.scss */
.car-search .car-input, .car-search .licence-code, .car-search .licence-num {
  -webkit-border-top-right-radius: Rem(5);
  -webkit-border-top-left-radius: Rem(5);
  -webkit-border-bottom-right-radius: Rem(5);
  -webkit-border-bottom-left-radius: Rem(5);
  -moz-border-radius-topright: Rem(5);
  -moz-border-radius-topleft: Rem(5);
  -moz-border-radius-bottomright: Rem(5);
  -moz-border-radius-bottomleft: Rem(5);
  border-top-right-radius: Rem(5);
  border-top-left-radius: Rem(5);
  border-bottom-right-radius: Rem(5);
  border-bottom-left-radius: Rem(5);
}
/* line 50, ../../../sass/park/pc/car.scss */
.car-search .car-input {
  margin: Rem(20) 0 Rem(10);
}
/* line 53, ../../../sass/park/pc/car.scss */
.car-search .car-input .licence-code, .car-search .car-input .licence-num {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
/* line 58, ../../../sass/park/pc/car.scss */
.car-search .car-input .licence-code {
  padding: Rem(20) Rem(30);
  height: Rem(48);
  line-height: Rem(48);
  color: #333;
  background-color: #f4f4f4;
  border-left: 1px solid #ececec;
  overflow: hidden;
  white-space: nowrap;
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 84, ../../../sass/park/pc/car.scss */
.car-search .car-input .licence-code .lecence-text {
  display: inline-block;
}
/* line 88, ../../../sass/park/pc/car.scss */
.car-search .car-input .licence-code .iconfont-park {
  width: Rem(30);
  height: Rem(30);
  line-height: Rem(30);
  margin: Rem(9) Rem(5);
  font-size: Rem(25);
  display: inline-block;
}
/* line 98, ../../../sass/park/pc/car.scss */
.car-search .car-input .licence-num {
  box-sizing: border-box;
  padding: Rem(20) 0;
  background-color: #f4f4f4;
}
/* line 104, ../../../sass/park/pc/car.scss */
.car-search .car-input .licence-num .licence-num-input {
  border: none;
  background-color: #f4f4f4;
  padding: 0 Rem(20);
  height: Rem(48);
  line-height: Rem(48);
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: Rem(26);
  text-transform: uppercase;
}
/* line 118, ../../../sass/park/pc/car.scss */
.car-search .car-input .licence-num .licence-num-input::-webkit-input-placeholder {
  color: #bdbdbd;
  font-weight: normal;
}
/* line 123, ../../../sass/park/pc/car.scss */
.car-search .car-input .licence-num.add-hairline {
  border: 1px solid #ececec;
  box-sizing: border-box;
}
/* line 130, ../../../sass/park/pc/car.scss */
.car-search .car-input .licence-code + .licence-num {
  border-radius: 0;
}
/* line 133, ../../../sass/park/pc/car.scss */
.car-search .car-input .licence-code + .licence-num .licence-num-input {
  border-left: 1px solid #dfdfdf;
}
/* line 138, ../../../sass/park/pc/car.scss */
.car-search .car-input .licence-search {
  padding: Rem(20) Rem(38);
  margin: 0;
  height: Rem(48);
  line-height: Rem(48);
  -webkit-box-flex: 0;
  box-flex: 0;
  display: block;
  font-size: Rem(30);
  white-space: nowrap;
  overflow: hidden;
  -webkit-border-top-right-radius: Rem(5);
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-right-radius: Rem(5);
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topright: Rem(5);
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomright: Rem(5);
  -moz-border-radius-bottomleft: 0;
  border-top-right-radius: Rem(5);
  border-top-left-radius: 0;
  border-bottom-right-radius: Rem(5);
  border-bottom-left-radius: 0;
}
/* line 163, ../../../sass/park/pc/car.scss */
.car-search .car-input .licence-search .iconfont-park {
  width: Rem(48);
  height: Rem(48);
  font-size: Rem(48);
  margin: 0;
}
/* line 172, ../../../sass/park/pc/car.scss */
.car-search .car-tips {
  line-height: Rem(50);
  margin-bottom: Rem(15);
  display: block;
}
/* line 177, ../../../sass/park/pc/car.scss */
.car-search .car-tips.light {
  color: #666;
}
/* line 180, ../../../sass/park/pc/car.scss */
.car-search .car-tips.lighter {
  color: #999;
}
/* line 186, ../../../sass/park/pc/car.scss */
.car-search .dailog-select {
  margin-bottom: Rem(20);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
/* line 199, ../../../sass/park/pc/car.scss */
.car-search .dailog-select .slide-box .dailog-content .car-letter {
  width: Rem(56);
  height: Rem(56);
  line-height: Rem(56);
  font-size: Rem(26);
  text-align: center;
  border: 1px solid #ececec;
  float: left;
  margin: Rem(18);
  -webkit-border-top-right-radius: Rem(3);
  -webkit-border-top-left-radius: Rem(3);
  -webkit-border-bottom-right-radius: Rem(3);
  -webkit-border-bottom-left-radius: Rem(3);
  -moz-border-radius-topright: Rem(3);
  -moz-border-radius-topleft: Rem(3);
  -moz-border-radius-bottomright: Rem(3);
  -moz-border-radius-bottomleft: Rem(3);
  border-top-right-radius: Rem(3);
  border-top-left-radius: Rem(3);
  border-bottom-right-radius: Rem(3);
  border-bottom-left-radius: Rem(3);
  cursor: pointer;
  -webkit-user-select: none;
}
/* line 225, ../../../sass/park/pc/car.scss */
.car-search .dailog-select .slide-box .dailog-content .car-letter:hover, .car-search .dailog-select .slide-box .dailog-content .car-letter:active, .car-search .dailog-select .slide-box .dailog-content .car-letter:focus {
  color: #ffffff;
  background-color: #f95d5b;
  border-color: #f95d5b;
}
