/* line 3, ../../../sass/park/pc/dailog.scss */
.dailog-select {
  position: absolute;
  top: Rem(92);
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 101;
  -webkit-box-shadow: 0 0 Rem(8) Rem(3) rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 0 Rem(8) Rem(3) rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 Rem(8) Rem(3) rgba(0, 0, 0, 0.06);
  -webkit-border-top-right-radius: Rem(8);
  -webkit-border-top-left-radius: Rem(8);
  -webkit-border-bottom-right-radius: Rem(8);
  -webkit-border-bottom-left-radius: Rem(8);
  -moz-border-radius-topright: Rem(8);
  -moz-border-radius-topleft: Rem(8);
  -moz-border-radius-bottomright: Rem(8);
  -moz-border-radius-bottomleft: Rem(8);
  border-top-right-radius: Rem(8);
  border-top-left-radius: Rem(8);
  border-bottom-right-radius: Rem(8);
  border-bottom-left-radius: Rem(8);
  display: none;
}
/* line 31, ../../../sass/park/pc/dailog.scss */
.dailog-select .dailog-content {
  padding: Rem(20);
}
/* line 35, ../../../sass/park/pc/dailog.scss */
.dailog-select .dailog-arrow {
  position: absolute;
  left: Rem(70);
  top: Rem(-11);
  width: 0;
  height: 0;
  border-left: Rem(12) solid transparent;
  border-right: Rem(12) solid transparent;
  border-bottom: Rem(12) solid #ffffff;
  display: block;
}

/* line 48, ../../../sass/park/pc/dailog.scss */
.dailog {
  position: fixed;
  width: Rem(650);
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 101;
  -webkit-border-radius: Rem(5);
  -moz-border-radius: Rem(5);
  border-radius: Rem(5);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 67, ../../../sass/park/pc/dailog.scss */
.dailog .dailog-head {
  padding: Rem(20);
  border-bottom: 1px solid #f2f2f2;
}
/* line 71, ../../../sass/park/pc/dailog.scss */
.dailog .dailog-head .iconfont-park {
  width: Rem(34);
  height: Rem(34);
  font-size: Rem(34);
  color: #f95d5b;
  float: right;
}
/* line 80, ../../../sass/park/pc/dailog.scss */
.dailog .dailog-content {
  padding: Rem(50) Rem(40);
  overflow: hidden;
}
/* line 84, ../../../sass/park/pc/dailog.scss */
.dailog .dailog-content .pure-text {
  font-size: Rem(28);
}
/* line 88, ../../../sass/park/pc/dailog.scss */
.dailog .dailog-content input[type=text] {
  border: 1px solid #f2f2f2;
  padding: Rem(20);
  height: Rem(90);
  width: 100%;
  line-height: Rem(90);
  background-color: #fbfbfb;
  font-size: Rem(24);
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: Rem(5);
  -moz-border-radius: Rem(5);
  border-radius: Rem(5);
  display: block;
}
/* line 111, ../../../sass/park/pc/dailog.scss */
.dailog .dailog-btns {
  border-top: 1px solid #f2f2f2;
  font-size: Rem(30);
  line-height: Rem(34);
}
/* line 116, ../../../sass/park/pc/dailog.scss */
.dailog .dailog-btns .dailog-btn {
  padding: Rem(20);
  background-color: transparent;
  border: none;
  border-right: 1px solid  #f2f2f2;
  display: block;
}
/* line 123, ../../../sass/park/pc/dailog.scss */
.dailog .dailog-btns .dailog-btn:last-child {
  border-right: none;
}
/* line 126, ../../../sass/park/pc/dailog.scss */
.dailog .dailog-btns .dailog-btn.orange {
  color: #f95d5b;
}

/* line 133, ../../../sass/park/pc/dailog.scss */
.dailog-warm {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 Rem(8) Rem(3) rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 0 Rem(8) Rem(3) rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 Rem(8) Rem(3) rgba(0, 0, 0, 0.06);
  -webkit-border-top-right-radius: Rem(8);
  -webkit-border-top-left-radius: Rem(8);
  -webkit-border-bottom-right-radius: Rem(8);
  -webkit-border-bottom-left-radius: Rem(8);
  -moz-border-radius-topright: Rem(8);
  -moz-border-radius-topleft: Rem(8);
  -moz-border-radius-bottomright: Rem(8);
  -moz-border-radius-bottomleft: Rem(8);
  border-top-right-radius: Rem(8);
  border-top-left-radius: Rem(8);
  border-bottom-right-radius: Rem(8);
  border-bottom-left-radius: Rem(8);
  padding: Rem(30) Rem(48);
  white-space: nowrap;
}

/* line 168, ../../../sass/park/pc/dailog.scss */
.dark-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
