<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script type='text/javascript' src='/public/static/js/lib/jquery-3.1.0.min.js' charset='utf-8'></script>
    <link rel="stylesheet" href="/public/static/css/dhy/module/myCouponWeuiAll.css">
</head>
<body ontouchstart>
<div class="coupon-get-pages">
    <div class="coupon-get-msg coupon-get-msg-fail">
        <div class="cgm-icon-area"><i class="iconfont icon-cha"></i></div>
        <div class="cgm-text-area">
            <h2>领取失败</h2>
            <p>请重新领取</p>
        </div>
        <div class="cgm-btn-area"><a href="/dhy/couponList?channel=<%= channel %>" class="weui-btn weui-btn_plain-primary weui-btn_inline">我要继续领取</a></div>
    </div>
</div>

<script type='text/javascript' src='/public/static/js/extends/jquery-weui.js' charset='utf-8'></script>
</body>
</html>