<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="author" content="ricopter@qq.com"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
    <style type="text/css">
        .mprm-list{
            padding:0 10px;
        }
        .mprm-list h4{
            font-size: 16px;
            margin-bottom: 10px;
        }
        .mprm-list p{
            font-size: 14px;
        }
        .mprm-list dd{
            margin: 0;
        }
        .m-points-rule-mod{
            font-size: 14px;
            padding:10px;
        }
        .m-points-rule-mod p{
            margin: 0;
        }
    </style>
</head>
<body>
<div class="g-wrap">
    <div class="m-licenses-mod m-points-rule-mod">
        <%- data.content %>
    </div>
</div>
</body>
</html>
