/*
 * Created by someone on 2017/3/8.
*/
/**
 * Created by ricopter@qq.com on 2017/2/7.
 */
/* line 8, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}

/* line 42, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}

/* line 56, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 60, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
caption,
th {
  text-align: left;
  font-weight: normal;
}

/* line 65, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}

/* line 73, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}

/* line 81, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
[hidefocus],
summary {
  outline: 0;
}

/* line 85, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
li {
  list-style: none;
}

/* line 88, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}

/* line 97, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
sup,
sub {
  font-size: 83%;
}

/* line 101, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
pre,
code,
kbd,
samp {
  font-family: inherit;
}

/* line 107, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
q:before,
q:after {
  content: none;
}

/* line 111, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
textarea {
  overflow: auto;
  resize: none;
}

/* line 115, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
label,
summary {
  cursor: default;
}

/* line 119, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
a,
button {
  cursor: pointer;
}

/* line 123, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}

/* line 134, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}

/* line 141, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
body,
textarea,
input,
button,
select,
keygen,
legend {
  color: #333;
  outline: 0;
}

/* line 151, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

/* line 156, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
body {
  line-height: 1.6;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  height: 100%;
}

/* line 162, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
a img {
  border: 0;
}

/* line 165, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
a {
  text-decoration: none;
  color: #333;
}

/* line 169, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
a,
a:hover {
  color: #333;
}

/* line 173, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
a:link,
a:visited,
a:hover,
a:active {
  color: #333;
}

/* weui reset */
/* line 180, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.btn-radius {
  border-radius: 40px;
}

/* line 183, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.weui-cells {
  font-size: 14px;
}

/* line 186, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.weui-cells_radio .weui-check:checked + .weui-icon-checked:before {
  color: #f95d5b;
}

/* line 189, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before {
  color: #f95d5b;
}

/* line 192, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.weui-btn_primary {
  background-color: #f95d5b;
  color: #fff !important;
}

/* line 196, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.weui-btn_primary:not(.weui-btn_disabled):active {
  background-color: #fb8e8c;
}

/* line 199, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.weui-btn_disabled.weui-btn_primary {
  background-color: #ccc;
}

/* line 202, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.weui-btn_plain-default {
  color: #f95d5b;
  border: 1px solid #f95d5b;
  background-color: #fff;
}

/* line 207, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.weui-btn_plain-default:not(.weui-btn_plain-disabled):active {
  color: #fb8e8c;
  border-color: #fb8e8c;
  background-color: #fff6f7;
}

/* line 212, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.weui-btn_plain-primary {
  color: #f95d5b !important;
  border: 1px solid #f95d5b;
  background-color: #fff;
}

/* line 217, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.weui-btn_plain-primary:not(.weui-btn_plain-disabled):active {
  color: #fb8e8c;
  border-color: #fb8e8c;
}

/* line 221, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.weui-btn_plain-disabled {
  color: #ccc;
  border-color: #ccc;
}

/* line 225, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@font-face {
  font-family: 'iconfont';
  /* project id 248143 */
  src: url("http://at.alicdn.com/t/font_4iesczu3ckd18aor.eot");
  src: url("http://at.alicdn.com/t/font_4iesczu3ckd18aor.eot?#iefix") format("embedded-opentype"), url("http://at.alicdn.com/t/font_4iesczu3ckd18aor.woff") format("woff"), url("http://at.alicdn.com/t/font_4iesczu3ckd18aor.ttf") format("truetype"), url("http://at.alicdn.com/t/font_4iesczu3ckd18aor.svg#iconfont") format("svg");
}
/* line 236, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* line 244, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.icon-clock:before {
  content: "\e61d";
}

/* line 247, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.icon-shangjiantou:before {
  content: "\e638";
}

/* line 250, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.icon-xiajiantou:before {
  content: "\e621";
}

/* line 253, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.icon-zuojiantou:before {
  content: "\e61f";
}

/* line 256, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.icon-youjiantou:before {
  content: "\e624";
}

/* line 259, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.icon-gou:before {
  content: "\e641";
}

/* line 262, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.icon-cha:before {
  content: "\e639";
}

/* line 265, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.icon-qianbao:before {
  content: "\e62a";
}

/* line 268, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.icon-jia:before {
  content: "\e836";
}

/* line 271, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.icon-jian:before {
  content: "\e627";
}

/*
 * Created by someone on 2017/3/8.
*/
/* line 277, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.common-tab .weui-navbar .weui-navbar__item {
  background-color: #fff;
  border: none;
  padding: 0;
  font-size: 14px;
}

/* line 283, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.common-tab .weui-navbar .weui-navbar__item:after {
  border: none;
}

/* line 286, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.common-tab .weui-navbar .weui-navbar__item a {
  display: inline-block;
  padding: 13px 5px;
  font-size: 14px;
}

/* line 291, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.common-tab .weui-navbar .weui-navbar__item.weui-bar__item--on a {
  color: #f95d5b;
  border-bottom: 3px solid #f95d5b;
}

/* line 295, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.common-tab .weui-navbar:after {
  border: none;
}

/* line 298, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.buy-number-area .buy-number {
  position: relative;
  width: 120px;
  height: 30px;
  overflow: hidden;
  float: left;
  margin: 0 10px 0 0;
}

/* line 306, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.buy-number-area .buy-number .bn-btn {
  position: absolute;
  width: 30px;
  height: 28px;
  border: 1px solid #eee;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}

/* line 315, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.buy-number-area .buy-number .bn-btn .iconfont {
  display: block;
  width: 12px;
  height: 12px;
  font-size: 12px;
  margin: 4px auto;
  color: #333;
}

/* line 323, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.buy-number-area .buy-number .bn-btn.bn-btn-jian {
  left: 0;
  right: auto;
  border-right: none;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 334, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.buy-number-area .buy-number .bn-btn.bn-btn-jia {
  left: auto;
  right: 0;
  border-left: none;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 345, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.buy-number-area .buy-number .bn-btn:hover {
  border-color: #999;
  background-color: #999;
}

/* line 349, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.buy-number-area .buy-number .bn-btn:hover .iconfont {
  color: #333;
}

/* line 352, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.buy-number-area .buy-number .bn-btn:active {
  border-color: #666;
  background-color: #666;
}

/* line 356, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.buy-number-area .buy-number .bn-btn:active .iconfont {
  color: #ffffff;
}

/* line 359, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.buy-number-area .buy-number .bn-btn.disabled {
  border-color: #eeeeee;
  background-color: #eeeeee;
}

/* line 363, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.buy-number-area .buy-number .bn-btn.disabled .iconfont {
  color: #999;
}

/* line 366, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.buy-number-area .buy-number input {
  position: absolute;
  width: 48px;
  height: 18px;
  line-height: 18px;
  display: block;
  top: 0;
  bottom: 0;
  left: 30px;
  right: 30px;
  padding: 5px;
  text-align: center;
  border: 1px solid #eeeeee;
}

/* line 380, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.buy-number-area .buy-number-count {
  float: right;
  background-color: #f95d5b;
  color: #fff;
  padding: 1px 10px;
  border-radius: 50px;
}

/*
 * Created by someone on 2017/3/8.
*/
/* line 390, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages {
  background-color: #f2f3f7;
}

/* line 393, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .t-msg-box {
  margin: 20px 15px;
}

/* line 396, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .t-msg-box .t-msg-box-time {
  text-align: center;
  margin-bottom: 10px;
}

/* line 400, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .t-msg-box .t-msg-box-time p {
  display: inline-block;
  padding: 2px 10px;
  background-color: #c0c0c0;
  border-radius: 50px;
  color: #fff;
  font-size: 12px;
}

/* line 408, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .t-msg-box .t-msg-box-time p .iconfont {
  font-size: 14px;
}

/* line 411, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .t-msg-box .t-msg-box-con {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
}

/* line 416, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .t-msg-box .t-msg-box-con .tmbc-hd {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

/* line 421, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .t-msg-box .t-msg-box-con .tmbc-bd {
  margin-bottom: 5px;
  color: #666;
}

/* line 425, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .t-msg-box .t-msg-box-con .tmbc-ft {
  text-align: right;
  color: #999;
}

/* line 429, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .t-msg-box .t-msg-box-con .tmbc-ft a {
  color: #999;
  text-decoration: underline;
}

/* line 433, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .t-msg-box .t-msg-box-con .tmbc-ft a:hover {
  text-decoration: none;
}

/* line 436, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .t-msg-box .t-msg-box-con .tmbc-coupon .tmbc-coupon-pic {
  width: 4rem;
  height: 4rem;
  margin-right: 15px;
  background: url("../../assets/img/pic_coupon.jpg") no-repeat;
  background-size: contain;
}

/* line 443, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .t-msg-box .t-msg-box-con .tmbc-coupon .tmbc-coupon-text .tmbcct-hd {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

/* line 448, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .t-msg-box .t-msg-box-con .tmbc-coupon .tmbc-coupon-text .tmbcct-bd {
  margin-bottom: 5px;
  color: #666;
}

/* line 452, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .t-msg-box .t-msg-box-con .tmbc-coupon .tmbc-coupon-text .tmbcct-ft {
  color: #999;
}

/* line 455, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .t-msg-box .t-msg-box-con .tmbc-coupon .tmbc-coupon-text .tmbcct-ft a {
  color: #999;
  text-decoration: underline;
}

/* line 459, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .t-msg-box .t-msg-box-con .tmbc-coupon .tmbc-coupon-text .tmbcct-ft a:hover {
  text-decoration: none;
}

/* line 462, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .no-msg {
  padding-top: 4rem;
}

/* line 465, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .no-msg .pic {
  width: 6rem;
  height: 6rem;
  margin: 0 auto 10px;
  background: url("../../assets/img/no_msg.png") no-repeat;
  background-size: contain;
}

/* line 472, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .no-msg .text {
  text-align: center;
  color: #a9a9bb;
  font-size: 14px;
}

/* line 477, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.t-msg-pages .no-msg .text h2 {
  color: #727282;
  font-size: 16px;
  font-weight: normal;
}

/*
 * Created by someone on 2017/3/8.
*/
/* line 485, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-detail-pages {
  background-color: #f2f3f7;
}

/* line 488, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-detail-pages .coupon-show {
  margin: 30px;
  position: relative;
}

/* line 492, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-detail-pages .coupon-show .img-bg {
  width: 100%;
}

/* line 495, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-detail-pages .coupon-show .img-bg img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 500, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-detail-pages .coupon-show .coupon-show-text {
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: center;
  color: #f95d5b;
}

/* line 507, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-detail-pages .coupon-show .coupon-show-text h2 {
  font-size: 30px;
  font-weight: normal;
}

/* line 511, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-detail-pages .coupon-show .coupon-show-text h2 small {
  font-size: 16px;
}

/* line 514, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-detail-pages .coupon-detail .weui-cell__ft {
  color: #333;
}

/* line 517, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-detail-pages .coupon-detail .weui-cell__ft .iconfont {
  color: #666;
  font-size: 14px;
}

/* line 521, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-detail-pages .coupon-detail .child-list {
  display: none;
  padding: 10px 15px;
  background-color: #fbf8f8;
}

/* line 526, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-detail-pages .coupon-detail .child-list ul li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

/* line 530, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-detail-pages .coupon-detail .child-list ul li:last-child {
  border: none;
}

/* line 533, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-detail-pages .coupon-detail .child-list.active {
  display: block;
}

/* line 536, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-detail-pages .coupon-detail .usage-rules {
  padding: 10px 15px;
  background-color: #fff;
  line-height: 30px;
}

/* line 541, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-detail-pages .fixed-bottom {
  bottom: 0;
  padding: 10px;
  background-color: #f0f0f4;
  border-top: 1px solid #dddee1;
  align-items: center;
}

/* line 548, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-detail-pages .fixed-bottom .total-money .new {
  font-size: 18px;
  color: #f95d5b;
  margin-right: 10px;
}

/* line 553, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-detail-pages .fixed-bottom .total-money .new small {
  font-size: 14px;
  color: #666;
}

/* line 557, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-detail-pages .fixed-bottom .total-money .old {
  color: #666;
  text-decoration: line-through;
}

/* line 561, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-msg {
  padding: 40px;
  text-align: center;
}

/* line 565, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-msg .cgm-icon-area {
  margin-bottom: 10px;
}

/* line 568, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-msg .cgm-icon-area .iconfont {
  font-size: 40px;
  line-height: 40px;
}

/* line 572, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-msg .cgm-icon-area .icon-gou {
  color: #3cc87b;
}

/* line 575, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-msg .cgm-icon-area .icon-cha {
  color: #f95d5b;
}

/* line 578, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-msg .cgm-text-area h2 {
  font-size: 18px;
  font-weight: 400;
  color: #333;
}

/* line 583, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-msg .cgm-text-area p {
  font-size: 14px;
  color: #666;
}

/* line 587, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-msg .cgm-btn-area {
  padding-top: 10px;
  text-align: center;
}

/* line 591, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-msg.coupon-get-msg-fail {
  padding-top: 100px;
}

/* line 594, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-ops {
  background-color: #fff;
  border-radius: 5px;
  margin: 0 15px;
}

/* line 599, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-ops .cgo-row {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
}

/* line 603, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-ops .cgo-row:before,
.coupon-get-pages .coupon-get-ops .cgo-row:after {
  content: " ";
  display: table;
}

/* line 608, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-ops .cgo-row:after {
  clear: both;
}

/* line 611, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-ops .cgo-row .cgo-row-hd {
  float: left;
}

/* line 614, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-ops .cgo-row .cgo-row-bd {
  float: right;
}

/* line 617, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-ops .cgo-code-area {
  margin-bottom: 20px;
}

/* line 620, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-ops .cgo-code-area .cca-code {
  width: 40%;
  margin: 20px auto 5px;
}

/* line 624, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-ops .cgo-code-area .cca-code img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 629, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-ops .cgo-code-area .cca-text {
  text-align: center;
  color: #666;
}

/* line 633, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-get-ops .cgo-btn-area {
  text-align: center;
  padding-bottom: 30px;
}

/* line 637, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-info {
  padding: 15px;
  margin-top: 10px;
  background-color: #fff;
}

/* line 642, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-info .cpi-pic {
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  margin-right: 15px;
}

/* line 648, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-info .cpi-pic img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 653, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-info .cpi-text .cpit-title {
  line-height: 16px;
  margin-bottom: 5px;
}

/* line 657, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-info .cpi-text .cpit-title:before,
.coupon-get-pages .coupon-pay .cp-info .cpi-text .cpit-title:after {
  content: " ";
  display: table;
}

/* line 662, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-info .cpi-text .cpit-title:after {
  clear: both;
}

/* line 665, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-info .cpi-text .cpit-title h2 {
  float: left;
  font-size: 16px;
  font-weight: 400;
}

/* line 670, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-info .cpi-text .cpit-title span {
  float: right;
  font-size: 14px;
  color: #f95d5b;
}

/* line 675, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-info .cpi-text .cpit-term {
  clear: both;
  font-size: 12px;
  color: #666;
  margin-bottom: 10px;
}

/* line 681, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-method {
  margin-top: 10px;
  background-color: #fff;
}

/* line 685, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-method .cp-method-hd {
  padding: 10px 15px;
}

/* line 688, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-method .cp-method-hd .iconfont {
  color: #666;
}

/* line 691, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-method .cp-method-bd .weui-cells {
  margin-top: 0;
}

/* line 694, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-method .cp-method-bd .weui-cells .icon {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 8px;
}

/* line 700, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-method .cp-method-bd .weui-cells .icon.ic-jf {
  background: url("/public/static/img/module/icon_jf.png") no-repeat;
  background-size: contain;
}

/* line 705, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-method .cp-method-bd .weui-cells .icon.ic-wx {
  background: url("/public/static/img/module/icon_wx.png") no-repeat;
  background-size: contain;
}

/* line 710, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-count {
  margin-top: 10px;
  background-color: #fff;
}

/* line 714, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-count ul li {
  padding: 10px 15px;
  border-bottom: 1px solid #d9d9d9;
}

/* line 718, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-count ul li:before,
.coupon-get-pages .coupon-pay .cp-count ul li:after {
  content: " ";
  display: table;
}

/* line 723, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-count ul li:after {
  clear: both;
}

/* line 726, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-count ul li:last-child {
  border: none;
}

/* line 729, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-count ul li label {
  float: left;
}

/* line 732, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-count ul li p {
  float: right;
}

/* line 735, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-count ul li p span {
  color: #f95d5b;
}

/* line 738, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.coupon-get-pages .coupon-pay .cp-btn-area {
  padding: 15px;
}

/*
 * Created by someone on 2017/3/8.
*/
/* line 744, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info {
  background-color: #fff;
}

/* line 747, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-money {
  padding: 15px;
  border-bottom: 1px dashed #eee;
}

/* line 751, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-money .ri-money-inner {
  display: block;
  padding: 20px;
  text-align: center;
  background-color: #fff9f9;
  border-radius: 100px;
}

/* line 758, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-money .ri-money-inner h2 {
  font-size: 18px;
  color: #f95d5b;
  font-weight: normal;
}

/* line 763, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-money .ri-money-inner p {
  font-size: 14px;
  color: #666;
}

/* line 767, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-steps {
  padding: 0;
  background: url("../img/refund_step_arrow.png") no-repeat center 1.4rem;
  background-size: contain;
}

/* line 772, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-steps .ri-step {
  margin: 15px;
  text-align: center;
}

/* line 776, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-steps .ri-step .ri-step-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}

/* line 782, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-steps .ri-step .ri-step-text {
  font-size: 14px;
  color: #666;
}

/* line 786, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-steps .ri-step .ri-step-text.unfinished {
  color: #999;
}

/* line 789, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-steps .ri-step .ri-step-time {
  font-size: 12px;
  color: #666;
}

/* line 793, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-steps-01 .ri-step-01 .ri-step-icon {
  background: url("../img/refund_step_0101.png") no-repeat center;
  background-size: contain;
}

/* line 797, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-steps-01 .ri-step-02 .ri-step-icon {
  background: url("../img/refund_step_0201.png") no-repeat center;
  background-size: contain;
}

/* line 801, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-steps-02 .ri-step-01 .ri-step-icon {
  background: url("../img/refund_step_0101.png") no-repeat center;
  background-size: contain;
}

/* line 805, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-steps-02 .ri-step-02 .ri-step-icon {
  background: url("../img/refund_step_0202.png") no-repeat center;
  background-size: contain;
}

/* line 809, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-steps-03 .ri-step-01 .ri-step-icon {
  background: url("../img/refund_step_0101.png") no-repeat center;
  background-size: contain;
}

/* line 813, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-steps-03 .ri-step-02 .ri-step-icon {
  background: url("../img/refund_step_0203.png") no-repeat center;
  background-size: contain;
}

/* line 817, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-steps-04 .ri-step-01 .ri-step-icon {
  background: url("../img/refund_step_0101.png") no-repeat center;
  background-size: contain;
}

/* line 821, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-steps-04 .ri-step-02 .ri-step-icon {
  background: url("../img/refund_step_0204.png") no-repeat center;
  background-size: contain;
}

/* line 825, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-list {
  border-top: 1px solid #eee;
}

/* line 828, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-list ul {
  margin-left: 10px;
}

/* line 831, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-list ul li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

/* line 835, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-info .ri-list ul li:last-child {
  border: none;
}

/* line 838, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item {
  background-color: #fff;
  margin-top: 10px;
}

/* line 842, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-hd {
  padding: 10px 15px;
}

/* line 845, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-hd:before,
.refund-order-details-pages .refund-other .ro-item .ro-item-hd:after {
  content: " ";
  display: table;
}

/* line 850, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-hd:after {
  clear: both;
}

/* line 853, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-hd h2 {
  float: left;
  font-size: 14px;
  color: #333;
  font-weight: normal;
}

/* line 859, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-hd h2 span {
  color: #999;
}

/* line 862, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-hd h2 small {
  color: #999;
  font-size: 12px;
}

/* line 866, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-hd .iconfont {
  float: right;
  font-size: 14px;
}

/* line 870, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-bd {
  clear: both;
  border-top: 1px solid #eee;
}

/* line 874, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-bd .refund-type {
  padding: 5px 10px;
}

/* line 877, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-bd .refund-type:before,
.refund-order-details-pages .refund-other .ro-item .ro-item-bd .refund-type:after {
  content: " ";
  display: table;
}

/* line 882, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-bd .refund-type:after {
  clear: both;
}

/* line 885, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-bd .refund-type .refund-type-option {
  float: left;
  margin: 10px 5px;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  position: relative;
  word-break: keep-all;
}

/* line 894, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-bd .refund-type .refund-type-option .tag {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../img/refund_type_unchecked.png") no-repeat center;
  background-size: contain;
}

/* line 904, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-bd .refund-type .refund-type-option.checked {
  color: #f95d5b;
  border-color: #f95d5b;
}

/* line 908, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-bd .refund-type .refund-type-option.checked .tag {
  background: url("../img/refund_type_checked.png") no-repeat center;
  background-size: contain;
}

/* line 912, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-bd .refund-reason {
  background-color: #fbf8f8;
}

/* line 915, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-bd .refund-reason ul {
  margin-left: 10px;
}

/* line 918, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-bd .refund-reason ul li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

/* line 922, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-bd .refund-reason ul li:last-child {
  border-bottom: none;
}

/* line 925, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-bd .refund-desc {
  padding: 10px;
}

/* line 928, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-bd .refund-desc .textarea-box {
  border: 1px solid #eee;
  padding: 5px;
}

/* line 932, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-bd .refund-desc .textarea-box textarea {
  border: 0;
  display: block;
  width: 100%;
  height: 3rem;
}

/* line 938, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-bd .refund-desc h3 {
  font-size: 12px;
  font-weight: normal;
}

/* line 942, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-bd .refund-desc p {
  font-size: 12px;
  color: #666;
}

/* line 946, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-item .ro-item-bd .weui-uploader {
  padding: 10px;
}

/* line 949, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
.refund-order-details-pages .refund-other .ro-btn-area {
  padding: 15px;
}

/* line 952, ../../../../sass/dhy/extend/weui1.0.1/all.scss */
body {
  background: #f2f3f7;
  font-size: 14px;
}
