
<script type='text/javascript' src='/public/static/js/lib/light7.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/public/static/js/lib/light7-swiper.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/public/static/js/module/storeInfo/city-picker.js' charset='utf-8'></script>
<script type='text/javascript' src='/public/static/js/module/storeInfo/storeInfo.js' charset='utf-8'></script>
</body>
</html>