@charset "utf-8";

@import "../common/flexible";//适配类
@import "../common/common_reset";//初始化样式类
@import "icon_font";//字体图标类
@import "base";//基础类
@import "flex_box";//盒子模型公共类
@import "float";//悬浮公共类
@import "list";//列表公共类
@import "btn";//按钮公共类
@import "dailog";//弹出层类

@import "status";//支付状态
@import "order";//缴费信息
@import "loading";//查询
@import "car";//我的车
@import "history";//停车历史
@import "park_list";//停车场列表
@import "manage";//管理车牌
@import "locate";//车位信息
@import "split";//停车初始选择
@import "memory";//记车位
@import "map";//地图
@import "parkShopNav";//地图导航商铺

.loading-circle{
  background: url("/public/static/img/loading_circle.gif") no-repeat center center;
  width: Rem(24);
  height: Rem(24);
  display: inline-block;
  margin: 0 auto;
}
