@charset "utf-8";
@import "mixin";
.memory,.my-car{

  .list .list-item .list-title{
    font-size: Rem(30);

    .light{
      font-size: Rem(22);
    }
  }

  .my-record-body {
    .list-line {
      @include flexbox;
      @include justify-content(space-between);

      .list-info {
        @include flex-shrink(1);

        @include flexbox;
        @include justify-content(center);
        @include flex-direction(column);

        .list-text {
          font-size: Rem(28);
          line-height: Rem(38);
          display: block;
          @include flex-shrink(1);
        }
      }

      .list-operate {
        width: Rem(260);
        padding: Rem(35) 0;
        @include flex-shrink(0);

        @include flexbox;
        @include justify-content(space-between);
        @include align-items(center);

        .operate-box {
          position: relative;
          @include flex-shrink(1);

          .btn {
            font-size: Rem(24);
            padding: Rem(15);

            .iconfont-park {
              font-size: Rem(24);
              color: #f95d5b;
              margin: 0;
              display: inline-block;
              float: none;
            }

            &.btn-link {
              font-size: Rem(30);
              color: #f95d5b;

              .iconfont-park {
                font-size: Rem(40);
              }
            }

            &:active, &:focus {
              color: #fff;
              .iconfont-park {
                color: #fff;
              }
            }
          }
        }

        .operate-box + .operate-box {
          padding-left: Rem(10);
          border-left: 1px solid #f4f4f4;
        }
      }
    }

    .no-record {
      height: Rem(420);
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);

      img{
        @include flex-shrink(0);
        width:Rem(127);
        height:Rem(111);
      }
      span{
        @include flex-shrink(1);
        margin-top: Rem(20);
        color: #999;
      }

      & > * {
        @include flex-shrink(1);
      }
    }
  }
}

.twitter-typeahead{
  width:100%;


  .tt-menu{
    text-align: left;
  }

  .typeahead,
  .tt-query,
  .tt-hint {
    width: 100%;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
  }

  .typeahead {
    background-color: #fff;
  }

  .typeahead:focus {
    border: 2px solid #0097cf;
  }

  .tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .tt-hint {
    color: #999
  }

  .tt-menu {
    width: 100%;
    margin: Rem(12) 0;
    padding: Rem(8) 0;
    background-color: #fff;
    -webkit-border-radius: Rem(3);
    -moz-border-radius: Rem(3);
    border-radius: Rem(3);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    max-height: Rem(300);
    overflow-y: auto;

    -webkit-overflow-scrolling : touch;
  }

  .tt-suggestion {
    padding: Rem(3) Rem(20);
    font-size: Rem(28);
    line-height: Rem(60);
  }

  .tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
  }

  .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

  }

  .tt-suggestion p {
    margin: 0;
  }
}
