<div class="dark-layer" style="display: none;"></div>
<div class="pos-input-dailog dailog" style="display: none;">
    <div class="dailog-content">
        <span class="pure-text"><%=text%></span>
    </div>
    <div class="dailog-btns flex-box">
        <button class="cancel dailog-btn flex-box-item" type="button">取消</button>
        <button class="ok dailog-btn orange flex-box-item" type="button">确定</button>
    </div>
</div>