<div class="bg">
    <div class="center-box loading">
        <h4 class="car-num"><%=carno%></h4>
        <div class="animate-box"></div>
        <h5 class="searching">正在查找停车信息……</h5>
    </div>
</div>