/* line 1, ../../../../sass/activity/2016/memberData/line.scss */
.sprite {
  background-image: url(../../../../activity/memberdata/img/lines/line.png);
  background-repeat: no-repeat;
  display: block;
}

/* line 7, ../../../../sass/activity/2016/memberData/line.scss */
.sprite-p1_03 {
  width: 84px;
  height: 199px;
  background-position: -20px -20px;
}

/* line 13, ../../../../sass/activity/2016/memberData/line.scss */
.sprite-p1_07 {
  width: 652px;
  height: 284px;
  background-position: -20px -259px;
}

/* line 19, ../../../../sass/activity/2016/memberData/line.scss */
.sprite-p1_11 {
  width: 69px;
  height: 199px;
  background-position: -20px -583px;
}

/* line 25, ../../../../sass/activity/2016/memberData/line.scss */
.sprite-p1_15 {
  width: 116px;
  height: 357px;
  background-position: -20px -822px;
}

/* line 31, ../../../../sass/activity/2016/memberData/line.scss */
.sprite-p2_02 {
  width: 315px;
  height: 102px;
  background-position: -20px -1219px;
}

/* line 37, ../../../../sass/activity/2016/memberData/line.scss */
.sprite-p2_06 {
  width: 265px;
  height: 129px;
  background-position: -20px -1361px;
}

/* line 43, ../../../../sass/activity/2016/memberData/line.scss */
.sprite-p2_10 {
  width: 217px;
  height: 111px;
  background-position: -20px -1530px;
}

/* line 49, ../../../../sass/activity/2016/memberData/line.scss */
.sprite-p2_12 {
  width: 158px;
  height: 307px;
  background-position: -20px -1681px;
}

/* line 55, ../../../../sass/activity/2016/memberData/line.scss */
.sprite-p3_02 {
  width: 307px;
  height: 78px;
  background-position: -20px -2028px;
}

/* line 61, ../../../../sass/activity/2016/memberData/line.scss */
.sprite-p3_06 {
  width: 217px;
  height: 125px;
  background-position: -20px -2146px;
}

/* line 67, ../../../../sass/activity/2016/memberData/line.scss */
.sprite-p3_10 {
  width: 340px;
  height: 150px;
  background-position: -20px -2311px;
}
