<!DOCTYPE html>
<html lang="zh" class="no-js">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>列表组件</title>
    <meta name="description" content=""/>
    <meta name="author" content="ricopter@qq.com"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <script type="text/javascript" src="../../js/lib/flexible.js"></script>
    <link rel="stylesheet" href="../../css/app.css">
</head>
<body>
<h1>列表组</h1>
<ul class="u-list">
    <li>
       <a href="#" title="#">
           <span class="fl-rg icon iconfont icon-youjiantou"></span>
           收货地址管理
       </a>
    </li>
    <li>
        <a href="#" title="#">
            <span class="fl-rg icon iconfont icon-xiajiantou"></span>
            身份信息管理
        </a>
    </li>
    <li>
        <a href="#" title="#">
            <span class="fl-rg icon iconfont icon-shangjiantou"></span>
            身份信息管理点击
        </a>
    </li>
    <li>
        <a href="#" title="#">
            <span class="fl-rg icon iconfont icon-guanbi"></span>
            15616016860
        </a>
    </li>
    <li>
        <a href="#" title="#">
            <div class="fl-rg">
                <span class="u-text-sub">15616016860</span>
                <span class="icon iconfont icon-youjiantou"></span>
            </div>
            手机号码
        </a>
    </li>
</ul>
</body>
</html>