<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="../../css/common/base.css">
    <link rel="stylesheet" href="../../css/component/nav.css">
</head>
<body>
<nav class="u-nav-tab">
    <ul>
        <li class="u-active"><a href="#">全部</a></li>
        <li><a href="#">未消费</a></li>
        <li><a href="#">退款中</a></li>
        <li><a href="#">已过期</a></li>
    </ul>
</nav>
</body>
</html>