<div class="u-mask u-mask-active"></div>
<div class="m-ring-menu">

    <div class="mrm-start u-hidden">
        <i class="icon iconfont icon-danchuangzujianjia"></i>
    </div>

    <div class="mrm-main">
        <ul>
            <li>
                <div class="mrm-icon-txt">
                    <i class="icon iconfont icon-danchuangzujianfanhui"></i>
                    <h5>返回</h5>
                </div>
            </li>
            <li>
                <div class="mrm-icon-txt">
                    <i class="icon iconfont icon-shouye"></i>
                    <h5>首页</h5>
                </div>
            </li>
            <li>
                <div class="mrm-icon-txt">
                    <i class="icon iconfont icon-sousuo"></i>
                    <h5>搜索</h5>
                </div>
            </li>
            <li>
                <div class="mrm-icon-txt">
                    <i class="icon iconfont icon-gerenzhongxin"></i>
                    <h5>个人中心</h5>
                </div>
            </li>
            <li>
                <div class="mrm-icon-txt">
                    <i class="icon iconfont icon-danchuangzujianguanbi"></i>
                </div>
            </li>
        </ul>
    </div>

</div>