<div class="m-accountSafe-page u-scrollBar">
    <form class="u-form" method="post" action="#">

        <div class="u-form-item">
            <div class="u-form-item-line m-form-item-icon">
                <a href="#/restSetPhone" title="修改手机号">
                    <label >修改手机号</label>
                    <!--<input type="tel" class="u-form-input-text" placeholder="" name="phone"/>-->
                    <!--<div class="u-placeholder-label">若您的手机即将停用，请立即修改，仅允许修改3次</div>-->
                    <div class="g-form-item-rg">
                        <i class="icon iconfont icon-youjiantou"></i>
                    </div>
                </a>
            </div>
        </div>

        <div class="u-form-item">
            <div class="u-form-item-line m-form-item-icon">
                <a title="修改支付密码" href="http://o2o.52bill.com/online-offline/OSTPUSR1/USR10007.tran?<%= data.paySignParam %>">
                    <label >修改支付密码</label>
                    <div class="g-form-item-rg">
                        <i class="icon iconfont icon-youjiantou"></i>
                    </div>
                </a>
            </div>
        </div>

        <div class="u-form-item">
            <div class="u-form-item-line m-form-item-icon">
                <a title="找回支付密码" href="http://o2o.52bill.com/online-offline/OSTPUSR1/USR10018.tran?<%= data.paySignParam %>">
                    <label >找回支付密码</label>
                    <div class="g-form-item-rg">
                        <i class="icon iconfont icon-youjiantou"></i>
                    </div>
                </a>
            </div>
        </div>

    </form>


</div>