<section class="m-cardPoints-page u-scrollBar">
    <form id="cardPointsForm">
        <div class="u-form">
            <div class="u-form-item">
                <div class="u-form-item-line">
                    <h4>自助积分</h4>
                </div>
            </div>

            <div class="u-form-item">
                <div class="u-form-item-line" style="border-bottom: none;">
                    <input type="text" placeholder="请输入卡券号积分" id="cardInput">
                    <div class="g-form-item-rg">
                        <i class="icon iconfont icon-guanbi u-hidden"></i>
                    </div>
                </div>
            </div>

            <div class="mcp-tips-txt">
                <div class="u-tips-txt-line u-tips-bg-orange">
                    <p><i class="icon iconfont icon-tishi"></i>在步步高百货门店购物后，请向柜台销售人员领取积分卡券
                        号或者提供会员手机号，完成会员自助积分。</p>
                </div>
            </div>
        </div>

        <div class="u-form-item-padding">
            <button id="cardPointsFormBtn" class="u-btn u-radius u-btn-block" type="button" disabled="">确认</button>
        </div>

        <div class="u-form-item-padding">
            <button type="button" class="u-btn u-radius u-btn-block u-btn-submit" id="scanPoints">扫一扫积分</button>
        </div>

    </form>

</section>