<section class="m-commercial-card-info">
    <div class="g-card">
        <div class="m-card">
            <div class="msg">
                <div class="logo u-sprite"></div>
                <div class="info">
                    <p class="name">梅溪新天地新天地会员M卡</p>
                    <p class="money">余额：<span>108.90 </span></p>
                </div>
            </div>
            <div class="no">NO：4008  4008  5009  9002  </div>
        </div>
    </div>
    <div class="m-card-des">
        <div class="u-text">通用<span class="money">68.90</span><span class="range">使用范围：可在步步高任意地点消费</span></div>
        <div class="u-text">特定<span class="money">50.00</span><span class="range">使用范围：指定长沙步步高广场金星店化妆品柜台消费 </span></div>
    </div>
    <div class="m-link-box">
        <a class="u-text clearfix">优惠券<span class="iconfont arrow">&#xe608;</span></a>
        <a class="u-text clearfix">使用记录<span class="iconfont arrow">&#xe608;</span></a>
        <a class="u-text clearfix">使用说明<span class="iconfont arrow">&#xe608;</span></a>
    </div>
</section>