<section class="m-commercial-card-list">
    <div class="g-search">
        <i class="arrow iconfont">&#xe658;</i>
        <form class="u-search-form m-search" id="searchForm">
            <div class="u-search-input">
                <input type="text" value="" placeholder="" class="u-search-text">
                <i class="u-search-icon icon iconfont icon-sousuo"><b>输入卡名称</b></i>
            </div>
        </form>
    </div>
    <div class="m-card-mini-list">
        <div class="item">
            <div class="g-card-mini">
                <div class="m-card-mini">
                    <div class="msg">
                        <div class="logo u-sprite"></div>
                        <div class="info">
                            <p class="name">梅溪新天地新天地会员M卡</p>
                            <p class="no">NO：4008  4008  5009  9002  </p>
                            <p class="money">余额：<span>108.90 </span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="foot"></div>
        </div>
        <div class="item">
            <div class="g-card-mini">
                <div class="m-card-mini">
                    <div class="msg">
                        <div class="logo u-sprite"></div>
                        <div class="info">
                            <p class="name">梅溪新天地新天地会员M卡</p>
                            <p class="no">NO：4008  4008  5009  9002  </p>
                            <p class="money">余额：<span>108.90 </span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="foot"></div>
        </div>
        <div class="item">
            <div class="g-card-mini">
                <div class="m-card-mini">
                    <div class="msg">
                        <div class="logo u-sprite"></div>
                        <div class="info">
                            <p class="name">梅溪新天地新天地会员M卡</p>
                            <p class="no">NO：4008  4008  5009  9002  </p>
                            <p class="money">余额：<span>108.90 </span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="foot"></div>
        </div>
    </div>
    <button type="button" class="add u-btn u-radius u-btn-block u-btn-submit">绑定更多卡</button>
</section>