<div class="m-complaint-page u-scrollBar">
    <form class="u-form" id="complaintForm" enctype="multipart/form-data">
        <div class="u-form-item">
            <div class="u-form-item-line">
                <input type="tel" placeholder="请输入原手机号码" value="" id="oldMobile" name="origPhone">
                <div class="g-form-item-rg">
                    <i class="icon iconfont icon-guanbi u-hidden"></i>
                </div>
            </div>
        </div>
        <div class="u-form-item">
            <div class="u-form-item-line">
                <input type="tel" placeholder="请输入新手机号码" value="" id="newMobile" name="newPhone">
                <div class="g-form-item-rg">
                    <i class="icon iconfont icon-guanbi u-hidden"></i>
                </div>
            </div>
        </div>
        <div class="u-form-item">
            <div class="u-form-item-line">
                <input type="text" placeholder="验证码" value="" id="captcha" name="smscode">
                <div class="g-form-item-rg">
                    <i class="icon iconfont icon-guanbi u-hidden"></i>
                    <button type="button" class="u-badge-text u-disabled" id="getSms" disabled >获取验证码</button>
                </div>
            </div>
        </div>
        <div class="u-form-item">
            <div class="u-form-item-line">
                <input type="text" placeholder="请输入身份证号" value="" id="idCode" name="identificationNum">
                <div class="g-form-item-rg">
                    <i class="icon iconfont icon-guanbi u-hidden"></i>
                </div>
            </div>
        </div>
        <div class="u-btn-normal-line">
            <button class="u-btn u-radius u-btn-block u-btn-submit" type="submit" disabled id="complaintSubmitBtn">提交</button>
        </div>
        <div class="u-normal-tips-line u-btn-normal-line u-tips-flex-box">
            <b>温馨提示：</b>
            <p>请按照页面提示填写您的真实、准确信息，小步之家尊重并
                保护您的个人隐私权，但不承诺您的申请一定能获得审
                核通过。因您提交不真实、不准确、失效的个人信息所
                引发的一切后果及风险由您自行承担。</p>
        </div>
    </form>
</div>
