<div class="m-myMemberCards-mod u-scrollBar">
    <div class="m-card-box">
        <div class="m-barcode-box">
            <img src="../../../code/barcode/<%= code %>?width=2&amp;height=10&amp;scale=4">
        </div>
        <div class="m-qrcode-box">
            <div class="m-qrcode">
                <div class="m-icon"></div>
                <img src="../../../code/qrcode/<%= code %>?eclevel=Q&amp;version=2&amp;scale=4">
            </div>
            <div class="m-qrcode-text">使用时请向门店工作人员出示此码</div>
        </div>
    </div>
</div>