<div class="m-restPhone-page u-scrollBar">
    <form class="u-form" id="myUnionAccountForm">
        <div class="u-form-item">
            <div class="u-form-item-line">
                <input type="text" value="" placeholder="红包兑换码" class="myUnionAccount-input" id="couponCode">
                <div class="g-form-item-rg">
                    <i class="icon iconfont icon-guanbi u-hidden"></i>
                </div>
            </div>
        </div>
        <div class="u-tips-txt-line">
            温馨提示：您可以把其他渠道获得的红包串码激活添加到您的红包账户中。
        </div>
        <div class="u-lp-btn-submit">
            <button class="u-btn u-radius u-btn-block" type="button" disabled id="myUnionAccountFormSubmit">确定兑换</button>
        </div>
    </form>
</div>