<div class="m-id-demo u-scrollBar">
    <section class="g-mod">
        <div class="g-mod-tit">
            <h2>身份证照上传要求</h2>
        </div>
        <div class="g-mod-cont">
            <ul class="u-item-list">
                <li>1. 身份证上的信息需无遮挡，且清晰可见。</li>
                <li>2. 照片请勿进行任何软件处理。</li>
                <li>3. 实名认证用户提交的证件信息需要和小步之家账户信息一致。</li>
                <li>4. 照片仅支持JPG、GIF、PNG、BMP图片文件，且文件小于1M</li>
                <li>5. 身份证有效期长于3个月。</li>
            </ul>
            <div class="u-id-show">
                <ul>
                    <li>
                        <img src="static/img/module/pic_id_0.jpg">
                        <h4>身份证正面</h4>
                    </li>
                    <li>
                        <img src="static/img/module/pic_id_1.jpg">
                        <h4>身份证反面</h4>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="g-mod">
        <div class="g-mod-tit">
            <h2>手持身份证照上传要求</h2>
        </div>
        <div class="g-mod-cont">
            <ul class="u-item-list">
                <li>1. 手持身份证内的证件头像清晰，身份证号码清楚可辨认，否则您的认证将不通过；</li>
                <li>2. 必须和手持中的身份证为同一身份证；</li>
                <li>3. 要求原图，无修改；</li>
                <li> 4. 五官清晰可见</li>
            </ul>
            <div class="u-id-show">
                <ul>
                    <li><img src="static/img/module/pic_id_2.jpg"></li>
                    <li><img src="static/img/module/pic_id_3.jpg"></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="g-tips-mod">
        <div class="gtm-lf">
            温馨提示：
        </div>
        <div class="gtm-rg">
            <p>拍照时将相机（手机）对焦在证件上，在手机屏幕上对
                着证件照按快门拍照，将使证件文字更清晰哦，审核更
                快通过！</p>
        </div>
    </section>
</div>