<div class="m-leagueAccount-mod u-scrollBar">
    <section class="u-unionAccount-list-mod">
        <ul class="u-list">
            <li>
                <a href="#/unionAccount" title="我的联通账户">
                    <span class="fl-lf icon iconfont icon-liantong"></span>
                    <span class="g-fl-rg icon iconfont icon-youjiantou"></span>
                    我的联通账户
                </a>
            </li>
            <li>
                <a href="#/myUnionAccount" title="我的银联账户">
                    <span class="fl-lf icon iconfont icon-yinlianzhanghu"></span>
                    <span class="g-fl-rg icon iconfont icon-youjiantou"></span>
                    我的银联账户
                </a>
            </li>
        </ul>
    </section>
</div>