<div class="m-merchantOrders-page u-scrollBar">
    <header>
        <nav class="u-nav-tab">
            <ul>
                <li class="u-active"><a href="javascript:void(0);">全部</a></li>
                <li><a href="javascript:void(0);">未消费</a></li>
                <li><a href="javascript:void(0);">退款中</a></li>
                <li><a href="javascript:void(0);">已过期</a></li>
            </ul>
        </nav>
    </header>
    <section class="m-order-list-mod">
        <ul class="u-merchantOrder-list">
            <li>
                <div class="u-g-hd clearfix">
                    <i class="icon iconfont icon-dianpu"></i>步时尚水果店
                    <div class="g-fl-rg">
                        <b>未消费</b>
                    </div>
                </div>
                <div class="u-g-bd clearfix">
                    <div class="g-lf-box g-fl-lf">
                        <img src="static/img/module/merchantOrder_pic_test_0.jpg" alt="">
                        <p>2014夏季新款银色闪亮交叉绑带平跟凉鞋
                            叉绑带平跟凉鞋</p>
                    </div>
                    <div class="g-rg-box g-fl-rg">
                        <h6>&yen;50</h6>
                        <i class="u-badge-number">X1</i>
                    </div>
                </div>
                <div class="u-g-ft clearfix">
                    <div class="g-lf-box g-fl-lf">
                        <p>共1件</p>
                        <p>合计：￥50</p>
                    </div>
                    <div class="g-rg-box g-fl-rg">
                        <a href="#" class="u-btn u-radius u-btn-submit u-btn-small-size">申请退款</a>
                        <a href="#" class="u-btn u-radius u-btn-normal u-btn-small-size">去消费</a>
                    </div>
                </div>
            </li>

            <li>
                <div class="u-g-hd clearfix">
                    <i class="icon iconfont icon-dianpu"></i>步时尚水果店
                    <div class="g-fl-rg">
                        <b>已退款</b>
                    </div>
                </div>
                <div class="u-g-bd clearfix">
                    <div class="g-lf-box g-fl-lf">
                        <img src="static/img/module/merchantOrder_pic_test_0.jpg" alt="">
                        <p>2014夏季新款银色闪亮交叉绑带平跟凉鞋
                            叉绑带平跟凉鞋</p>
                    </div>
                    <div class="g-rg-box g-fl-rg">
                        <h6>&yen;50</h6>
                        <i class="u-badge-number">X1</i>
                    </div>
                </div>
                <div class="u-g-ft clearfix">
                    <div class="g-lf-box g-fl-lf">
                        <p>共1件</p>
                        <p>合计：￥50</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="u-g-hd clearfix">
                    <i class="icon iconfont icon-dianpu"></i>步时尚水果店
                    <div class="g-fl-rg">
                        <b>交易成功</b>
                    </div>
                </div>
                <div class="u-g-bd clearfix">
                    <div class="g-lf-box g-fl-lf">
                        <img src="static/img/module/merchantOrder_pic_test_0.jpg" alt="">
                        <p>2014夏季新款银色闪亮交叉绑带平跟凉鞋
                            叉绑带平跟凉鞋</p>
                    </div>
                    <div class="g-rg-box g-fl-rg">
                        <h6>&yen;50</h6>
                        <i class="u-badge-number">X1</i>
                    </div>
                </div>
                <div class="u-g-ft clearfix">
                    <div class="g-lf-box g-fl-lf">
                        <p>共1件</p>
                        <p>合计：￥50</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="u-g-hd clearfix">
                    <i class="icon iconfont icon-dianpu"></i>步时尚水果店
                    <div class="g-fl-rg">
                        <b>退款中</b>
                    </div>
                </div>
                <div class="u-g-bd clearfix">
                    <div class="g-lf-box g-fl-lf">
                        <img src="static/img/module/merchantOrder_pic_test_0.jpg" alt="">
                        <p>2014夏季新款银色闪亮交叉绑带平跟凉鞋
                            叉绑带平跟凉鞋</p>
                    </div>
                    <div class="g-rg-box g-fl-rg">
                        <h6>&yen;50</h6>
                        <i class="u-badge-number">X1</i>
                    </div>
                </div>
                <div class="u-g-ft clearfix">
                    <div class="g-lf-box g-fl-lf">
                        <p>共1件</p>
                        <p>合计：￥50</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="u-g-hd clearfix">
                    <i class="icon iconfont icon-dianpu"></i>步时尚水果店
                    <div class="g-fl-rg">
                        <b>已过期</b>
                    </div>
                </div>
                <div class="u-g-bd clearfix">
                    <div class="g-lf-box g-fl-lf">
                        <img src="static/img/module/merchantOrder_pic_test_0.jpg" alt="">
                        <p>2014夏季新款银色闪亮交叉绑带平跟凉鞋
                            叉绑带平跟凉鞋</p>
                    </div>
                    <div class="g-rg-box g-fl-rg">
                        <h6>&yen;50</h6>
                        <i class="u-badge-number">X1</i>
                    </div>
                </div>
                <div class="u-g-ft clearfix">
                    <div class="g-lf-box g-fl-lf">
                        <p>共1件</p>
                        <p>合计：￥50</p>
                    </div>
                </div>
            </li>

        </ul>
    </section>
</div>