<div class="m-myCoupons-mod u-scrollBar">

    <section class="m-myCoupons-mod-list">
        <ul class="u-list">
            <li>
                <a href="#/couponsList?type=2" title="步步高门店·优惠券">
                    <span class="icon iconfont icon-mendianyouhuiquan"></span>
                    步步高门店
                    <div class="g-fl-rg">
                        <span class="u-text-sub u-fontColor-them">
                            <%= data.siebal %>张可用
                        </span>
                        <span class="icon iconfont icon-youjiantou"></span>
                    </div>
                </a>
            </li>
            <% if(channel && channel =="012838"){ %>
            <li>
                <a title="梅溪新天地" id="mxhShop">
                    <span class="icon iconfont icon-meixihushangchengyouhuiquan"></span>
                    梅溪新天地
                    <div class="g-fl-rg">
                        <!--<span class="u-text-sub u-fontColor-them">-->
                        <!--0张可用-->
                        <!--</span>-->
                        <span class="icon iconfont icon-youjiantou"></span>
                    </div>
                </a>
            </li>
            <!--<li>-->
                <!--<a title="停车·优惠券">-->
                    <!--<span class="icon iconfont icon-icon-woyaoquche"></span>-->
                    <!--停车优惠券-->
                    <!--<div class="g-fl-rg">-->
                        <!--<span class="u-text-sub u-fontColor-them">-->
                            <!--张可用-->
                        <!--</span>-->
                        <!--<span class="icon iconfont icon-youjiantou"></span>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <% } %>

        </ul>
    </section>
</div>