<div class="m-invitation-rule-mod">
    <div class="ad-box">
        <img src="/public/static/img/module/myInvitationBanner.jpg" alt=""/>
    </div>
    <div class="rules">
        <p>
            1、将系统自动配置的邀请码告知好友。
        </p>
        <p>
            2、您的好友可通过“小步之家”,填写您的邀请码（可在会员中心-我的邀请码-我的邀请人中填写）。
        </p>
        <p>
            3、好友提交成功，您达成奖励积分条件后，小步之家将于X个工作日内自动放到帐。您可以在”我的积分“中查阅。
        </p>
    </div>
</div>