<div class="m-invitation-list-mod">
    <div class="m-invitation-count-mod clearfix">
        <div class="count-box">
            <div class="title">成功邀请人数</div>
            <div class="num"><%= total %></div>
        </div>
    </div>
    <div class="m-invitation-scroller-mod" id="invitation-refresh">
        <div id="wapper" class="clearfix">
            <% if(data.length > 0){ %>
            <div class="m-scroller-refresh u-normal-mod">
                <ul class="u-list u-data-list" id="invitation-list"></ul>
            </div>
            <div id="pullUpFlag" class="tip" style="display: none;">上拉加载更多</div>
            <% }else{ %>
            <div class="tip">您还没有邀请人哦！</div>
            <% } %>
        </div>
    </div>
</div>