<div class="m-myMeansPoints-mod u-scrollBar">
    <section class="u-myMeansPoints-mod-list-mod">

        <div class="u-points-panel">
              <h3><%= data.point %></h3>
              <p>当前可用积分</p>
              <a href="/dhy/pointsRule" class="u-use-rule">使用规则</a>
        </div>

        <ul class="u-list">
            <li>
                <a href="#/pointsList" title="查询明细">
                    <span class="g-fl-rg icon iconfont icon-youjiantou"></span>
                    查询明细
                </a>
            </li>
            <li>
                <a href="#/pointsExchange?channel=<%= data.channel %>" title="积分换礼">
                    <span class="g-fl-rg icon iconfont icon-youjiantou"></span>
                    积分换礼
                </a>
            </li>
        </ul>
    </section>
</div>