<div class="m-myMeans-mod u-scrollBar">
    <header class="u-scan-code-ban">
        <div class="m-scan-code" id="quickPay">
            <h3><i></i>快捷支付</h3>
        </div>
        <div class="m-payment-code" id="selfPoints">
            <h3><i></i>自助积分</h3>
        </div>
    </header>
    <section class="m-myMeans-module">
        <div class="u-normal-mod">
            <div class="unm-flex-lf">
                <a title="我的积分">
                    <span class="fl-lf icon iconfont icon-jifen"></span>
                    <p>我的积分</p>
                </a>
            </div>
            <div class="unm-flex-rg">
                <ul class="u-list">
                    <li>
                        <a title="可用积分">
                            <span class="g-fl-rg u-text-sub"><%= data.integration %></span>
                            可用积分
                        </a>
                    </li>
                    <li>
                        <a href="#/pointsList" title="查询明细">
                            <span class="g-fl-rg icon iconfont icon-youjiantou"></span>
                            查询明细
                        </a>
                    </li>
                    <li>
                        <a href="#/leagueAccoun" title="联盟账户">
                            <span class="g-fl-rg icon iconfont icon-youjiantou"></span>
                            联盟账户
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="u-normal-mod">
            <div class="unm-flex-lf">
                <a title="我的优惠券">
                    <span class="fl-lf icon iconfont icon-youhuiquan"></span>
                    <p>我的优惠券</p>
                </a>
            </div>
            <div class="unm-flex-rg">
                <ul class="u-list">
                    <!--<li>-->
                        <!--<a title="云猴网商城" href="#/couponsList?type=1">-->
                            <!--<span class="g-fl-rg icon iconfont icon-youjiantou"></span>-->
                            <!--云猴网商城-->
                        <!--</a>-->
                    <!--</li>-->
                    <li>
                        <a href="#/couponsList?type=2" title="步步高门店">
                            <span class="g-fl-rg icon iconfont icon-youjiantou"></span>
                            步步高门店
                        </a>
                    </li>
                    <!--<li>-->
                        <!--<a href="#/couponsList?type=3" title="联盟商户">-->
                            <!--<span class="g-fl-rg icon iconfont icon-youjiantou"></span>-->
                            <!--联盟商户-->
                        <!--</a>-->
                    <!--</li>-->
                    <li>
                        <a title="梅溪新天地" id="mxhShop">
                            <span class="g-fl-rg icon iconfont icon-youjiantou"></span>
                            梅溪新天地
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--<div class="u-normal-mod">-->
            <!--<div class="unm-flex-lf">-->
                <!--<a title="我的卡" style="padding-top:0.5rem;">-->
                    <!--<span class="fl-lf icon iconfont icon-qia"></span>-->
                    <!--<p>我的卡</p>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="unm-flex-rg">-->
                <!--<ul class="u-list">-->
                    <!--<li>-->
                        <!--<a title="绑定实体卡">-->
                            <!--<span class="g-fl-rg icon iconfont icon-youjiantou"></span>-->
                            <!--绑定实体卡-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a title="我的商务卡">-->
                            <!--<span class="g-fl-rg icon iconfont icon-youjiantou"></span>-->
                            <!--我的商务卡-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->

    </section>
</div>
