<div class="m-myMemberCards-mod m-orderPayCode u-scrollBar">
    <div class="m-card-box">
        <div class="m-barcode-box">
            <img src="../../../code/barcode/<%= code %>?width=2&height=10&scale=4">
        </div>
        <div class="m-times-show" id="timesOut">

        </div>
    </div>
</div>