<div class="m-restPhone-page-box u-scrollBar">
    <div class="m-restPhone-page animated" id="stepOne">
        <div class="m-pp-ban">
            <div class="m-pp-ban-center">
                <ul>
                    <li>
                        <i></i>
                        <h4>验证身份</h4>
                    </li>
                    <li>
                        <i></i>
                    </li>
                    <li>
                        <i></i>
                        <h4>设置新手机</h4>
                    </li>
                </ul>
            </div>
        </div>
        <form class="u-form" id="restSetPhoneForm">
            <div class="u-form-item">
                <div class="u-form-item-line">
                    <label for="#">原手机号:</label>
                    <input type="tel" readonly="" data-oldmoblie="<%= oldMobile %>" value="<%= oldMobile.replace(/(\d{3})\d{6}(\d{2})/,"$1********$2") %>" placeholder="请输入手机号码" class="u-form-input-text" id="oldMobile">
                    <div class="g-form-item-rg">
                        <i class="icon iconfont icon-guanbi u-hidden"></i>
                    </div>
                </div>
            </div>
            <div class="u-form-item">
                <div class="u-form-item-line">
                    <input type="text" value="" placeholder="请输入验证码" id="captcha">
                    <div class="g-form-item-rg">
                        <i class="icon iconfont icon-guanbi u-hidden"></i>
                        <button type="button" class="u-badge-text" id="getSms">获取验证码</button>
                    </div>
                </div>
            </div>
            <div class="u-tips-txt-line">
                温馨提示：为了您的账户安全，需要验证您的原始手机及修改后手机。
            </div>
            <div class="u-lp-btn-submit">
                <button disabled="" class="u-btn u-radius u-btn-block" type="button" id="submitBtn">下一步</button>
            </div>
        </form>
    </div>

    <div class="m-restPhone-page animated" id="stepTwo" style="display:none;">
        <div class="m-pp-ban">
            <div class="m-pp-ban-center">
                <ul class="u-active">
                    <li>
                        <i></i>
                        <h4>验证身份</h4>
                    </li>
                    <li>
                        <i></i>
                    </li>
                    <li>
                        <i></i>
                        <h4>设置新手机</h4>
                    </li>
                </ul>
            </div>
        </div>
        <form class="u-form" id="restSetPhoneForm2">
            <div class="u-form-item">
                <div class="u-form-item-line">
                    <input type="tel" value="" placeholder="请输入新手机号码" id="newMobile">
                    <div class="g-form-item-rg">
                        <i class="icon iconfont icon-guanbi u-hidden"></i>
                    </div>
                </div>
            </div>
            <div class="u-form-item">
                <div class="u-form-item-line">
                    <input type="text" value="" placeholder="请输入验证码" id="newCaptcha">
                    <div class="g-form-item-rg">
                        <i class="icon iconfont icon-guanbi u-hidden" id="newsMobileClose"></i>
                        <button type="button" class="u-badge-text" id="getNewSms" disabled>获取验证码</button>
                    </div>
                </div>
            </div>
            <div class="u-tips-txt-line">
                温馨提示：请用修改后的手机号+动态验证码登录小步之家。
            </div>
            <div class="u-lp-btn-submit">
                <button disabled="" class="u-btn u-radius u-btn-block" type="button" id="newMobileSubmitBtnRest">提交</button>
            </div>
        </form>
    </div>
</div>