<div class="u-select-mod u-select-mask u-mask-active u-hidden">
    <div class="u-select u-select-active">
        <div class="u-select-bd">
            <div class="u-select-nav clearfix">
                <div class="u-select-nav-btn g-fl-lf u-select-cancel">返回</div>
                <div class="u-select-nav-btn g-fl-rg u-select-nav-btn-active u-select-submit">确定</div>
            </div>
            <div class="u-select-wheel-box">
                <div class="u-select-selected-box"></div>
                <div class="u-select-wheels">
                    <div class="u-select-wheel">
                        <ul>

                        </ul>
                    </div>
                    <div class="u-select-wheel">
                        <ul>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>