<div class="m-selfPoints-mod u-scrollBar">
    <section class="m-myCoupons-mod-list">
        <ul class="u-list">
            <li>
                <a href="#/cardPoints" title="卡券号积分">
                    <span class="fl-lf icon iconfont icon-qiaquanhaojifen"></span>
                    <span>卡券号积分</span>
                    <span class="g-fl-rg icon iconfont icon-youjiantou"></span>
                </a>
            </li>
            <li id="scanPoints">
                <a title="扫一扫积分">
                    <span class="fl-lf icon iconfont icon-saoyisao"></span>
                    <span>扫一扫积分</span>
                    <span class="g-fl-rg icon iconfont icon-youjiantou"></span>
                </a>
            </li>
        </ul>
    </section>
</div>