@charset "UTF-8";
/* line 2, ../../sass/common/common_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
}

/* line 17, ../../sass/common/common_reset.scss */
:focus {
  outline: 0;
}

/* line 21, ../../sass/common/common_reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 26, ../../sass/common/common_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 31, ../../sass/common/common_reset.scss */
a, a:link, a:visited, a:hover, a:active {
  outline: 0;
  text-decoration: none;
}

/* line 36, ../../sass/common/common_reset.scss */
a img, iframe {
  border: none;
  text-decoration: none;
}

/* line 41, ../../sass/common/common_reset.scss */
ol, ul {
  list-style: none;
}

/* line 45, ../../sass/common/common_reset.scss */
input, textarea, select, button {
  font-size: 100%;
  font-family: inherit;
}

/* line 50, ../../sass/common/common_reset.scss */
select {
  margin: inherit;
}

/* Fixes incorrect placement of numbers in ol’s in IE6/7 */
/* line 55, ../../sass/common/common_reset.scss */
ol {
  margin-left: 2em;
}

/* == clearfix == */
/* line 60, ../../sass/common/common_reset.scss */
.clearfix:after {
  content: " . ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 68, ../../sass/common/common_reset.scss */
.clearfix {
  display: inline-block;
}

/* line 72, ../../sass/common/common_reset.scss */
* html .clearfix {
  height: 1%;
}

/* line 76, ../../sass/common/common_reset.scss */
.clearfix {
  display: block;
}
