@charset "UTF-8";
/* line 2, ../../sass/common/common_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
}

/* line 17, ../../sass/common/common_reset.scss */
:focus {
  outline: 0;
}

/* line 21, ../../sass/common/common_reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 26, ../../sass/common/common_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 31, ../../sass/common/common_reset.scss */
a, a:link, a:visited, a:hover, a:active {
  outline: 0;
  text-decoration: none;
}

/* line 36, ../../sass/common/common_reset.scss */
a img, iframe {
  border: none;
  text-decoration: none;
}

/* line 41, ../../sass/common/common_reset.scss */
ol, ul {
  list-style: none;
}

/* line 45, ../../sass/common/common_reset.scss */
input, textarea, select, button {
  font-size: 100%;
  font-family: inherit;
}

/* line 50, ../../sass/common/common_reset.scss */
select {
  margin: inherit;
}

/* Fixes incorrect placement of numbers in ol’s in IE6/7 */
/* line 55, ../../sass/common/common_reset.scss */
ol {
  margin-left: 2em;
}

/* == clearfix == */
/* line 60, ../../sass/common/common_reset.scss */
.clearfix:after {
  content: " . ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 68, ../../sass/common/common_reset.scss */
.clearfix {
  display: inline-block;
}

/* line 72, ../../sass/common/common_reset.scss */
* html .clearfix {
  height: 1%;
}

/* line 76, ../../sass/common/common_reset.scss */
.clearfix {
  display: block;
}

/* line 3, ../../sass/park/base.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 8, ../../sass/park/base.scss */
body {
  font-family: webfont, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-size: 0.32rem !important;
}

/* line 17, ../../sass/park/base.scss */
.viewport {
  position: absolute;
  width: 10rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  min-height: 100%;
}
/* line 28, ../../sass/park/base.scss */
.viewport .bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
/* line 35, ../../sass/park/base.scss */
.viewport .bg.light-dark {
  background-color: #fff;
}
/* line 39, ../../sass/park/base.scss */
.viewport .bg.dark {
  background-color: #f5f5f5;
}
/* line 42, ../../sass/park/base.scss */
.viewport .bg.colorful {
  background-color: #f5f5f5;
  min-height: 100%;
  height: auto;
}

/* line 52, ../../sass/park/base.scss */
.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@font-face {
  font-family: 'webfont';
  src: url("//at.alicdn.com/t/kyflojlval7kfbt9.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/kyflojlval7kfbt9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/kyflojlval7kfbt9.woff") format("woff"), url("//at.alicdn.com/t/kyflojlval7kfbt9.ttf") format("truetype"), url("//at.alicdn.com/t/kyflojlval7kfbt9.svg#思源黑体-细") format("svg");
  /* iOS 4.1- */
}
@font-face {
  font-family: "FontAwesome";
  src: url("../../fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "iconfont";
  src: url("../../fonts/iconfont_park.eot");
  /* IE9*/
  src: url("../../fonts/iconfont_park.eot?#iefix") format("embedded-opentype"), url("../../fonts/iconfont_park.woff") format("woff"), url("../../fonts/iconfont_park.ttf") format("truetype"), url("../../fonts/iconfont_park.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 28, ../../sass/park/icon_font.scss */
.iconfont-park {
  font-family: "iconfont" !important;
  font-size: 0.21333rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 37, ../../sass/park/icon_font.scss */
.icon-shangjiantou:before {
  content: "\e60b";
}

/* line 39, ../../sass/park/icon_font.scss */
.icon-shanchu:before {
  content: "\e60a";
}

/* line 41, ../../sass/park/icon_font.scss */
.icon-tingcheweizhi:before {
  content: "\e600";
}

/* line 43, ../../sass/park/icon_font.scss */
.icon-shibai:before {
  content: "\e601";
}

/* line 45, ../../sass/park/icon_font.scss */
.icon-chenggong:before {
  content: "\e602";
}

/* line 47, ../../sass/park/icon_font.scss */
.icon-guanbi:before {
  content: "\e603";
}

/* line 49, ../../sass/park/icon_font.scss */
.icon-xuanze:before {
  content: "\e604";
}

/* line 51, ../../sass/park/icon_font.scss */
.icon-jiaofeifangshi:before {
  content: "\e605";
}

/* line 53, ../../sass/park/icon_font.scss */
.icon-wodetingchexinxi:before {
  content: "\e606";
}

/* line 55, ../../sass/park/icon_font.scss */
.icon-chaxuntingchefei:before {
  content: "\e607";
}

/* line 57, ../../sass/park/icon_font.scss */
.icon-sousuo:before {
  content: "\e608";
}

/* line 59, ../../sass/park/icon_font.scss */
.icon-xiajiantou:before {
  content: "\e609";
}

/* line 61, ../../sass/park/icon_font.scss */
.icon-tishi:before {
  content: "\e669";
}

/* line 63, ../../sass/park/icon_font.scss */
.icon-shanchu1:before {
  content: "\e611";
}

/* line 65, ../../sass/park/icon_font.scss */
.icon-woyaojiaofei:before {
  content: "\e60c";
}

/* line 67, ../../sass/park/icon_font.scss */
.icon-woyaoquche:before {
  content: "\e60d";
}

/* line 69, ../../sass/park/icon_font.scss */
.icon-woyaotingche:before {
  content: "\e60e";
}

/* line 71, ../../sass/park/icon_font.scss */
.icon-tingchechangditu:before {
  content: "\e60f";
}

/* line 73, ../../sass/park/icon_font.scss */
.icon-daozheliqu:before {
  content: "\e610";
}

/* line 75, ../../sass/park/icon_font.scss */
.icon-cheweidizhi:before {
  content: "\e612";
}

/* line 77, ../../sass/park/icon_font.scss */
.icon-jinchangshijian:before {
  content: "\e613";
}

/* line 79, ../../sass/park/icon_font.scss */
.icon-tingchechang:before {
  content: "\e614";
}

/* line 81, ../../sass/park/icon_font.scss */
.icon-tingcheshichang:before {
  content: "\e615";
}

/* line 83, ../../sass/park/icon_font.scss */
.icon-ditudaohang:before {
  content: "\e619";
}

/* line 85, ../../sass/park/icon_font.scss */
.icon-chaxuncheweixinxi:before {
  content: "\e616";
}

/* line 87, ../../sass/park/icon_font.scss */
.icon-jilutingchewei:before {
  content: "\e617";
}

/* line 89, ../../sass/park/icon_font.scss */
.icon-wodejilu:before {
  content: "\e618";
}

/* line 91, ../../sass/park/icon_font.scss */
.icon-chaxunchepai:before {
  content: "\e61a";
}

/* line 93, ../../sass/park/icon_font.scss */
.icon-wangfuguanlichepai:before {
  content: "\e667";
}

/* line 6, ../../sass/invitation/app.scss */
.viewport {
  background-color: #a8daff;
}
/* line 9, ../../sass/invitation/app.scss */
.viewport .touch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

/* line 19, ../../sass/invitation/app.scss */
.content {
  background: #a8daff url("../../../invitation/img/bg.jpg") no-repeat top center;
  background-size: 10rem 6.93333rem;
  width: 10rem;
  margin: 0 auto;
  overflow: hidden;
}
/* line 27, ../../sass/invitation/app.scss */
.content .inf-box .icon-img {
  width: 1.73333rem;
  height: 1.73333rem;
  border: 0.06667rem solid #673f7b;
  margin: 0.4rem auto 0.13333rem;
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% 50%;
  border-radius: 50% 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 0.10667rem 0.10667rem 0.28rem rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0.10667rem 0.10667rem 0.28rem rgba(0, 0, 0, 0.3);
  box-shadow: 0.10667rem 0.10667rem 0.28rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
/* line 44, ../../sass/invitation/app.scss */
.content .inf-box .icon-img img {
  width: 100%;
  height: 100%;
}
/* line 49, ../../sass/invitation/app.scss */
.content .inf-box p {
  font-size: 0.32rem;
  line-height: 0.4rem;
  text-align: center;
  color: #ffffff;
}
/* line 57, ../../sass/invitation/app.scss */
.content .inv-box {
  width: 8.05333rem;
  height: 3.48rem;
  margin: 1rem auto 0;
  padding: 2.05333rem 0.78667rem 0rem 0.64rem;
  background: url("../../../invitation/img/invBox.png") no-repeat;
  background-size: contain;
}
/* line 65, ../../sass/invitation/app.scss */
.content .inv-box .title {
  font-size: 0.34667rem;
  color: #5b2e14;
}
/* line 69, ../../sass/invitation/app.scss */
.content .inv-box .title .left {
  float: left;
}
/* line 72, ../../sass/invitation/app.scss */
.content .inv-box .title .right {
  float: right;
}
/* line 77, ../../sass/invitation/app.scss */
.content .inv-box .empty {
  text-align: center;
  font-size: 0.48rem;
  line-height: 0.8rem;
  padding: 0.4rem 0;
}
/* line 84, ../../sass/invitation/app.scss */
.content .inv-box .heads {
  width: 100%;
  overflow: hidden;
}
/* line 87, ../../sass/invitation/app.scss */
.content .inv-box .heads ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 92, ../../sass/invitation/app.scss */
.content .inv-box .heads ul li {
  width: 1.2rem;
  height: 1.2rem;
  float: left;
  margin: 0.6rem 0.2rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #FFFFFF;
  overflow: hidden;
}
/* line 105, ../../sass/invitation/app.scss */
.content .inv-box .heads ul li img {
  width: 100%;
  height: 100%;
}
/* line 114, ../../sass/invitation/app.scss */
.content .rule-box {
  margin-top: 0.66667rem;
  background: url("../../../invitation/img/wav2.jpg") repeat-x top, url("../../../invitation/img/wav1.jpg") repeat-x bottom;
  background-color: #8ec8ff;
  background-size: 0.30667rem 0.16rem;
  overflow: hidden;
}
/* line 121, ../../sass/invitation/app.scss */
.content .rule-box .rule-banner {
  width: 9.14667rem;
  height: 0.94667rem;
  margin: 0.70667rem auto;
  background: url("../../../invitation/img/ruleBanner.jpg") no-repeat;
  background-size: contain;
}
/* line 129, ../../sass/invitation/app.scss */
.content .rule-box .rule-text {
  width: 8.93333rem;
  margin: 0.13333rem auto 0.66667rem;
}
/* line 133, ../../sass/invitation/app.scss */
.content .rule-box .rule-text p {
  line-height: 0.4rem;
  font-size: 0.34667rem;
  color: #333333;
}
/* line 141, ../../sass/invitation/app.scss */
.content .qrcode-box {
  position: relative;
  width: 8.82667rem;
  height: 3.86667rem;
  margin: 0.6rem auto;
  background: url("../../../invitation/img/qrcodeBox.png") no-repeat;
  background-size: contain;
}
/* line 149, ../../sass/invitation/app.scss */
.content .qrcode-box img {
  position: absolute;
  top: -1.06667rem;
  width: 2.10667rem;
  height: 2.10667rem;
  padding-top: 1.94667rem;
  padding-left: 0.69333rem;
}
