/* line 3, ../../sass/park/flex_box.scss */
.flex-box {
  display: box;
  display: -webkit-box;
}
/* line 7, ../../sass/park/flex_box.scss */
.flex-box .flex-box-item {
  -webkit-box-flex: 1;
  box-flex: 1;
}
