/* line 1, ../../sass/park/locate.scss */
.onepage-pagination {
  position: absolute;
  top: Rem(428);
  left: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
  transform: translateX(-50%);
}
/* line 11, ../../sass/park/locate.scss */
.onepage-pagination li {
  display: inline-block;
  padding: 0;
  text-align: center;
}
/* line 16, ../../sass/park/locate.scss */
.onepage-pagination li a {
  margin: 0 Rem(5);
  display: block;
  width: Rem(30);
  height: Rem(3);
  background: #d8d8d8;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
/* line 27, ../../sass/park/locate.scss */
.onepage-pagination li a.active {
  background: #f95d5b;
}

/* line 34, ../../sass/park/locate.scss */
.location-viewport {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
/* line 40, ../../sass/park/locate.scss */
.location-viewport .location-main {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}
/* line 48, ../../sass/park/locate.scss */
.location-viewport .location-main .section {
  width: 100%;
  height: 100%;
}

/* line 59, ../../sass/park/locate.scss */
.location .locate-head {
  background: #ffffff;
  padding-top: Rem(75);
  padding-bottom: Rem(65);
}
/* line 64, ../../sass/park/locate.scss */
.location .locate-head .head {
  text-align: center;
}
/* line 67, ../../sass/park/locate.scss */
.location .locate-head .head .icon {
  width: Rem(200);
  height: Rem(200);
  overflow: hidden;
  display: inline-block;
  border: Rem(6) solid rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 2px 0 21px rgba(0, 0, 0, 0.14);
}
/* line 80, ../../sass/park/locate.scss */
.location .locate-head .head .icon img {
  width: 100%;
  height: 100%;
}
/* line 85, ../../sass/park/locate.scss */
.location .locate-head .head .text {
  line-height: Rem(48);
  font-size: Rem(40);
  padding: Rem(44);
  color: #f95d5b;
}
/* line 94, ../../sass/park/locate.scss */
.location .locate-body {
  padding: Rem(40) 0 Rem(40) Rem(120);
}
/* line 99, ../../sass/park/locate.scss */
.location .locate-body ul li {
  padding: Rem(10) 0;
  color: #666666;
}
/* line 103, ../../sass/park/locate.scss */
.location .locate-body ul li .text {
  font-size: Rem(36);
  line-height: Rem(80);
  float: left;
  margin-left: Rem(10);
}
/* line 110, ../../sass/park/locate.scss */
.location .locate-body ul li .iconfont-park {
  font-size: Rem(52);
  line-height: Rem(80);
  float: left;
}
/* line 119, ../../sass/park/locate.scss */
.location .err {
  padding: Rem(50);
}
/* line 122, ../../sass/park/locate.scss */
.location .err ul {
  list-style: none;
  margin: Rem(10) auto;
  padding: 0;
}
/* line 127, ../../sass/park/locate.scss */
.location .err ul li {
  font-size: Rem(28);
  line-height: Rem(40);
  color: #666;
}
/* line 134, ../../sass/park/locate.scss */
.location .err p {
  font-size: Rem(28);
  line-height: Rem(40);
  color: #333;
}
/* line 140, ../../sass/park/locate.scss */
.location .err .list-item {
  text-align: left;
}
/* line 143, ../../sass/park/locate.scss */
.location .err .list-item .orange {
  color: #f95d5b;
  font-style: normal;
}
/* line 150, ../../sass/park/locate.scss */
.location .newbtn {
  display: block;
  height: Rem(80);
  width: Rem(370);
  font-size: Rem(32);
  text-align: center;
  color: #f95d5b;
  line-height: Rem(80);
  margin: 0 auto;
  border: 2px solid #f95d5b;
  background-color: transparent;
  -webkit-border-radius: Rem(40);
  border-radius: Rem(40);
  margin-bottom: Rem(20);
}
