/* line 3, ../../sass/park/manage.scss */
.car-manage-select {
  position: absolute;
  top: Rem(80);
  left: 0;
  right: 0;
  height: Rem(128);
  padding: 0 Rem(20);
  background-color: #ffffff;
  border-bottom: 1px solid #f2f2f2;
}

/* line 14, ../../sass/park/manage.scss */
.car-manage-list {
  position: absolute;
  top: Rem(209);
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* line 22, ../../sass/park/manage.scss */
.car-manage-list .car-manage-list-scroll {
  padding: Rem(20) 0;
}
/* line 25, ../../sass/park/manage.scss */
.car-manage-list .car-manage-list-scroll .car-manage-list-item {
  padding: Rem(20);
  border-top: 1px solid #f2f2f2;
  background-color: #ffffff;
}
/* line 30, ../../sass/park/manage.scss */
.car-manage-list .car-manage-list-scroll .car-manage-list-item .car-manage-list-item-bg {
  -webkit-border-radius: Rem(10);
  -moz-border-radius: Rem(10);
  border-radius: Rem(10);
  background-color: #3f6bd0;
  padding: Rem(20);
}
/* line 37, ../../sass/park/manage.scss */
.car-manage-list .car-manage-list-scroll .car-manage-list-item .car-manage-list-item-bg .car-manage-list-item-inner {
  -webkit-border-radius: Rem(10);
  -moz-border-radius: Rem(10);
  border-radius: Rem(10);
  border: Rem(5) solid #ffffff;
  background-color: #3f6bd0;
}
/* line 45, ../../sass/park/manage.scss */
.car-manage-list .car-manage-list-scroll .car-manage-list-item .car-manage-list-item-bg .car-manage-list-item-inner .car-manage-list-item-number {
  width: Rem(300);
  padding: Rem(25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 52, ../../sass/park/manage.scss */
.car-manage-list .car-manage-list-scroll .car-manage-list-item .car-manage-list-item-bg .car-manage-list-item-inner .car-manage-list-item-number .car-manage-list-bar {
  border-top: Rem(5) solid #ffffff;
  border-bottom: Rem(5) solid #ffffff;
  width: Rem(60);
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
}
/* line 60, ../../sass/park/manage.scss */
.car-manage-list .car-manage-list-scroll .car-manage-list-item .car-manage-list-item-bg .car-manage-list-item-inner .car-manage-list-item-number .car-manage-list-item-number-text {
  position: relative;
  font-size: Rem(60);
  color: #ffffff;
  line-height: Rem(149);
  text-align: center;
  -webkit-flex-shrink: 1;
  -ms-flex: 0 1 auto;
  flex-shrink: 1;
  flex-grow: 1;
}
/* line 70, ../../sass/park/manage.scss */
.car-manage-list .car-manage-list-scroll .car-manage-list-item .car-manage-list-item-bg .car-manage-list-item-inner .car-manage-list-item-number .car-manage-list-item-number-text .center-box {
  white-space: nowrap;
}
/* line 76, ../../sass/park/manage.scss */
.car-manage-list .car-manage-list-scroll .car-manage-list-item .car-manage-list-item-bg .car-manage-list-item-inner .car-manage-list-item-btn {
  padding: Rem(27) 0;
  text-align: center;
  border-left: Rem(5) solid #ffffff;
}
/* line 81, ../../sass/park/manage.scss */
.car-manage-list .car-manage-list-scroll .car-manage-list-item .car-manage-list-item-bg .car-manage-list-item-inner .car-manage-list-item-btn .car-icon {
  height: Rem(130);
  padding-top: Rem(25);
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 93, ../../sass/park/manage.scss */
.car-manage-list .car-manage-list-scroll .car-manage-list-item .car-manage-list-item-bg .car-manage-list-item-inner .car-manage-list-item-btn .car-icon .iconfont-park {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: Rem(48);
  height: Rem(48);
  font-size: Rem(45);
  line-height: Rem(48);
  color: #ffffff;
  padding-bottom: Rem(20);
}
/* line 104, ../../sass/park/manage.scss */
.car-manage-list .car-manage-list-scroll .car-manage-list-item .car-manage-list-item-bg .car-manage-list-item-inner .car-manage-list-item-btn .car-icon .car-icon-text {
  -webkit-flex-shrink: 1;
  -ms-flex: 0 1 auto;
  flex-shrink: 1;
  color: #ffffff;
  white-space: nowrap;
}
/* line 114, ../../sass/park/manage.scss */
.car-manage-list .car-manage-list-scroll .car-manage-list-item .car-empty {
  text-align: center;
}
/* line 116, ../../sass/park/manage.scss */
.car-manage-list .car-manage-list-scroll .car-manage-list-item .car-empty p {
  margin: Rem(10) 0;
}
/* line 119, ../../sass/park/manage.scss */
.car-manage-list .car-manage-list-scroll .car-manage-list-item .car-empty a {
  color: #333;
  display: block;
}
/* line 125, ../../sass/park/manage.scss */
.car-manage-list .car-manage-list-scroll .car-manage-list-item:last-child {
  border-bottom: 1px solid #f2f2f2;
}

/* line 132, ../../sass/park/manage.scss */
.car-manage-list-num {
  padding: Rem(30) Rem(20);
  background: #f2f3f7;
  color: #999;
}
/* line 136, ../../sass/park/manage.scss */
.car-manage-list-num b {
  color: #f96968;
}

/* line 142, ../../sass/park/manage.scss */
.car-manageBind-page .car-manage-bind-banner {
  height: Rem(200);
}
/* line 145, ../../sass/park/manage.scss */
.car-manageBind-page .car-manage-select {
  top: Rem(200);
}
/* line 148, ../../sass/park/manage.scss */
.car-manageBind-page .car-manage-list {
  top: Rem(329);
}

/* line 154, ../../sass/park/manage.scss */
.list > .list-item .list-body .skill-tips .iconfont-park {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

/* line 161, ../../sass/park/manage.scss */
.skill-tips {
  text-align: center;
}
/* line 163, ../../sass/park/manage.scss */
.skill-tips .iconfont-park {
  display: inline-block;
  float: none;
  vertical-align: middle;
}
/* line 168, ../../sass/park/manage.scss */
.skill-tips a {
  color: #f95d5b;
  text-decoration: underline;
}

/* line 177, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .car-manage-select {
  top: Rem(528);
  border-bottom: none;
  background: #f2f3f7;
}
/* line 182, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .car-manage-list {
  top: Rem(655);
}
/* line 185, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .car-manage-list .car-manage-list-scroll {
  padding: 0;
}
/* line 188, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .car-search .car-input .licence-code {
  -webkit-border-top-left-radius: Rem(60);
  -webkit-border-bottom-left-radius: Rem(60);
  border-top-left-radius: Rem(60);
  border-bottom-left-radius: Rem(60);
  background: #e4e6ea;
}
/* line 196, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .car-search .car-input .licence-num, .g-perfectCarInfo-page .car-search .car-input .licence-num .licence-num-input {
  background: #e4e6ea;
}
/* line 199, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .car-search .car-input .licence-search {
  -webkit-border-top-right-radius: Rem(60);
  -webkit-border-bottom-right-radius: Rem(60);
  border-top-right-radius: Rem(60);
  border-bottom-right-radius: Rem(60);
}
/* line 206, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .car-manage-list .car-manage-list-scroll .car-manage-list-item .car-manage-list-item-bg {
  background: #fff;
  color: #333;
}
/* line 211, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .car-manage-bind-banner {
  position: relative;
  height: Rem(528);
  background: url("/public/park/images/perfectCarInfo_0.jpg") no-repeat center center;
  background-size: contain;
}
/* line 216, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .car-manage-bind-banner .car-skip {
  width: Rem(50);
  height: Rem(50);
  display: block;
  position: absolute;
  right: Rem(20);
  top: Rem(20);
}
/* line 223, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .car-manage-bind-banner .car-skip .icon-guanbi {
  font-size: 24px;
  color: #fff;
}
/* line 164, ../../sass/park/mixin.scss */
[data-dpr="2"] .g-perfectCarInfo-page .car-manage-bind-banner .car-skip .icon-guanbi {
  font-size: 48px;
}
/* line 168, ../../sass/park/mixin.scss */
[data-dpr="3"] .g-perfectCarInfo-page .car-manage-bind-banner .car-skip .icon-guanbi {
  font-size: 72px;
}
/* line 230, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .car-empty-tips {
  text-align: center;
  color: #333;
}
/* line 233, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .car-empty-tips .cet-btn {
  background: #f95d5b;
  color: #fff;
  padding: Rem(20) Rem(50);
  text-align: center;
  font-size: 16px;
  display: inline-block;
}
/* line 164, ../../sass/park/mixin.scss */
[data-dpr="2"] .g-perfectCarInfo-page .car-empty-tips .cet-btn {
  font-size: 32px;
}
/* line 168, ../../sass/park/mixin.scss */
[data-dpr="3"] .g-perfectCarInfo-page .car-empty-tips .cet-btn {
  font-size: 48px;
}
/* line 241, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .car-empty-tips .cet-bd {
  margin-top: Rem(30);
  margin-bottom: Rem(30);
}
/* line 245, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .car-empty-tips img {
  margin: 0 auto;
  width: Rem(233);
  display: block;
}
/* line 253, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .car-empty-tips p i {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #f95d5b;
}
/* line 164, ../../sass/park/mixin.scss */
[data-dpr="2"] .g-perfectCarInfo-page .car-empty-tips p i {
  font-size: 28px;
}
/* line 168, ../../sass/park/mixin.scss */
[data-dpr="3"] .g-perfectCarInfo-page .car-empty-tips p i {
  font-size: 42px;
}
/* line 261, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .item-perfectCarCard-mod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-bottom: Rem(1) solid #f2f3f7;
  padding: Rem(25) 0;
}
/* line 268, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .item-perfectCarCard-mod .ipm-item {
  text-align: center;
  vertical-align: bottom;
  font-size: 13px;
}
/* line 164, ../../sass/park/mixin.scss */
[data-dpr="2"] .g-perfectCarInfo-page .item-perfectCarCard-mod .ipm-item {
  font-size: 26px;
}
/* line 168, ../../sass/park/mixin.scss */
[data-dpr="3"] .g-perfectCarInfo-page .item-perfectCarCard-mod .ipm-item {
  font-size: 39px;
}
/* line 273, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .item-perfectCarCard-mod .ipm-item:first-child {
  text-align: left;
  width: Rem(400);
}
/* line 277, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .item-perfectCarCard-mod .ipm-item:nth-child(2) {
  width: Rem(216);
}
/* line 279, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .item-perfectCarCard-mod .ipm-item:nth-child(2) .ipm-button {
  width: Rem(188);
}
/* line 283, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .item-perfectCarCard-mod .ipm-item:last-child {
  width: Rem(130);
}
/* line 285, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .item-perfectCarCard-mod .ipm-item:last-child .ipm-button {
  width: Rem(78);
  margin-left: Rem(10);
}
/* line 290, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .item-perfectCarCard-mod .ipm-text {
  font-size: 26px;
  padding-left: Rem(30);
}
/* line 164, ../../sass/park/mixin.scss */
[data-dpr="2"] .g-perfectCarInfo-page .item-perfectCarCard-mod .ipm-text {
  font-size: 52px;
}
/* line 168, ../../sass/park/mixin.scss */
[data-dpr="3"] .g-perfectCarInfo-page .item-perfectCarCard-mod .ipm-text {
  font-size: 78px;
}
/* line 294, ../../sass/park/manage.scss */
.g-perfectCarInfo-page .item-perfectCarCard-mod .ipm-button {
  border-radius: Rem(4);
  text-align: center;
  color: #f95d5b;
  border: Rem(1) solid #f95d5b;
  padding: Rem(20) Rem(10);
}
