/* line 3, ../../sass/park/order.scss */
.order .order-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: Rem(97);
  overflow: hidden;
}
/* line 11, ../../sass/park/order.scss */
.order .order-list .scroller {
  position: absolute;
}
/* line 16, ../../sass/park/order.scss */
.order .order-list .discount .method {
  width: Rem(150);
}
/* line 19, ../../sass/park/order.scss */
.order .order-list .discount .method .icon-xuanze {
  color: #f95d5b;
}
/* line 24, ../../sass/park/order.scss */
.order .order-list .discount .discount-list {
  width: Rem(480);
}
/* line 26, ../../sass/park/order.scss */
.order .order-list .discount .discount-list .discount-list-item {
  margin-bottom: Rem(10);
}
/* line 28, ../../sass/park/order.scss */
.order .order-list .discount .discount-list .discount-list-item .btn-link {
  width: Rem(290);
}
/* line 31, ../../sass/park/order.scss */
.order .order-list .discount .discount-list .discount-list-item:last-child {
  margin-bottom: 0;
}
/* line 38, ../../sass/park/order.scss */
.order .order-list .discount-total {
  padding: Rem(20) Rem(10);
  margin-top: Rem(10);
  background-color: #fffbf9;
}
/* line 45, ../../sass/park/order.scss */
.order .orange {
  color: #f95d5b;
}
/* line 49, ../../sass/park/order.scss */
.order .green {
  color: #27a269;
}
/* line 53, ../../sass/park/order.scss */
.order .float-nav {
  position: absolute;
  bottom: 0;
}
/* line 59, ../../sass/park/order.scss */
.order .float-nav .flex-box .float-text {
  height: Rem(60);
  line-height: Rem(60);
  font-size: Rem(24);
}
/* line 65, ../../sass/park/order.scss */
.order .float-nav .flex-box .btn-box {
  width: Rem(250);
  box-flex: 0;
  -webkit-box-flex: 0;
  text-align: right;
}
/* line 71, ../../sass/park/order.scss */
.order .float-nav .flex-box .btn-box .btn {
  padding: 0 Rem(40);
}

/* line 80, ../../sass/park/order.scss */
.weixinpay .big-title {
  margin: Rem(60) auto Rem(30);
  padding-bottom: Rem(30);
  text-align: center;
  font-size: Rem(80);
  border-bottom: 1px solid #E0E0E0;
}
/* line 87, ../../sass/park/order.scss */
.weixinpay .big-title .center-title {
  margin: Rem(20) auto;
  text-align: center;
  font-size: Rem(40);
}
/* line 94, ../../sass/park/order.scss */
.weixinpay .warm {
  padding: 0 Rem(20);
  color: #c4c4c4;
}
/* line 99, ../../sass/park/order.scss */
.weixinpay .list-text {
  font-size: Rem(30);
}
/* line 103, ../../sass/park/order.scss */
.weixinpay .btn-box {
  margin: Rem(30) auto;
  padding: 0 Rem(20);
}

/* line 111, ../../sass/park/order.scss */
#history-box {
  margin-top: Rem(20);
  border: 1px solid #f2f2f2;
}

/* line 116, ../../sass/park/order.scss */
.manage-btn-tips {
  text-align: left;
  font-size: Rem(24);
  color: #999;
  margin-top: Rem(10);
}
/* line 121, ../../sass/park/order.scss */
.manage-btn-tips .iconfont-park {
  font-size: Rem(32);
  vertical-align: middle;
}
