@charset "UTF-8";
/**
 * Created with WebStorm.
 * User: rico ricopter@qq.com
 * Date: 2015/10/15
 * Time: 13:36
 * */
/**
 * Created with WebStorm.
 * User: rico ricopter@qq.com
 * Date: 2015/10/15
 * Time: 9:22
 * */
/**
 * Created with WebStorm.
 * User: rico sky$note520.com
 * Date: 2015/10/15
 * Time: 9:22
 * */
/*===========public==============*/
/* Fade */
/*******************/
/* line 12, ../../sass/component/form.scss */
.u-form {
  background-color: #fff;
}
/* line 14, ../../sass/component/form.scss */
.u-form .u-display-block {
  display: block;
}
/* line 17, ../../sass/component/form.scss */
.u-form .u-display-none {
  display: none;
}
/* line 20, ../../sass/component/form.scss */
.u-form .u-show {
  opacity: 1;
  transition: all ease 0.2s;
}
/* line 25, ../../sass/component/form.scss */
.u-form .u-hidden {
  opacity: 0;
  transition: all ease 0.2s;
}

/* line 32, ../../sass/component/form.scss */
.u-form-item-order.active {
  background-color: #e5e6e7;
}

/* 表单输入项 */
/* line 36, ../../sass/component/form.scss */
.u-form-item-padding {
  padding: 0 0.13333rem;
}

/* line 39, ../../sass/component/form.scss */
.u-form-item {
  position: relative;
  font-size: 0.37333rem;
  height: 1.17333rem;
  line-height: 1.17333rem;
}
/* line 44, ../../sass/component/form.scss */
.u-form-item .u-form-item-line {
  padding-left: 0.26667rem;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
}
/* line 48, ../../sass/component/form.scss */
.u-form-item .u-form-item-line .u-placeholder-label {
  position: absolute;
}
/* line 52, ../../sass/component/form.scss */
.u-form-item .u-form-input-text {
  height: 100%;
}
/* line 55, ../../sass/component/form.scss */
.u-form-item label:not(.u-switch):not(.u-checkbox):not(.u-radio) {
  width: 2.53333rem;
  position: absolute;
  text-align: left;
  box-sizing: border-box;
}
/* line 62, ../../sass/component/form.scss */
.u-form-item input,
.u-form-item textarea {
  width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  border: 0;
  background: none;
}
/* line 70, ../../sass/component/form.scss */
.u-form-item input[type="checkbox"], .u-form-item input[type="radio"] {
  padding-left: 0;
}
/* line 73, ../../sass/component/form.scss */
.u-form-item .u-icon-close {
  position: absolute;
  top: 0;
  right: 0.16rem;
}
/* line 79, ../../sass/component/form.scss */
.u-form-item .u-form-input-text, .u-form-item .u-form-input-textarea {
  padding-left: 2.53333rem;
}
/* line 83, ../../sass/component/form.scss */
.u-form-item .g-form-item-rg {
  position: absolute;
  right: 0.13333rem;
  top: 0;
}
/* line 87, ../../sass/component/form.scss */
.u-form-item .g-form-item-rg i {
  margin: 0 0.26667rem;
}
/* line 91, ../../sass/component/form.scss */
.u-form-item .g-form-item-lf {
  position: absolute;
}
/* line 96, ../../sass/component/form.scss */
.u-form-item .u-form-item-error .u-form-input-text, .u-form-item .u-form-item-warning .u-form-input-text {
  color: #ff0b0b;
}

/* line 104, ../../sass/component/form.scss */
.m-form-item-icon .icon-shouji, .m-form-item-icon .icon-yanzhengma {
  font-size: 0.64rem;
}
/* line 107, ../../sass/component/form.scss */
.m-form-item-icon .u-form-input-text {
  padding-left: 0.8rem;
}

/* line 114, ../../sass/component/form.scss */
.u-form-history .u-form-history-list {
  position: relative;
  left: 0;
  top: 0;
  background: #fff9f6;
  width: 100%;
  z-index: 2110;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  display: none;
}
/* line 124, ../../sass/component/form.scss */
.u-form-history .u-form-history-list ul {
  max-height: 6rem;
  overflow-y: auto;
}
/* line 128, ../../sass/component/form.scss */
.u-form-history .u-form-history-list ul li, .u-form-history .u-form-history-list .u-form-history-list-clear {
  padding-left: 1.09333rem;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
}
/* line 133, ../../sass/component/form.scss */
.u-form-history .u-form-history-list ul li:not(.disabled):not(:disabled):active, .u-form-history .u-form-history-list ul li.active, .u-form-history .u-form-history-list ul li:hover, .u-form-history .u-form-history-list ul li:focus,
.u-form-history .u-form-history-list .u-form-history-list-clear:not(.disabled):not(:disabled):active,
.u-form-history .u-form-history-list .u-form-history-list-clear.active,
.u-form-history .u-form-history-list .u-form-history-list-clear:hover,
.u-form-history .u-form-history-list .u-form-history-list-clear:focus {
  background: #fff3ed;
}
/* line 141, ../../sass/component/form.scss */
.u-form-history .u-display-block {
  display: block;
}
/* line 144, ../../sass/component/form.scss */
.u-form-history .u-display-none {
  display: none;
}
/* line 147, ../../sass/component/form.scss */
.u-form-history .u-form-history-list.u-active {
  display: block;
  z-index: 2100;
}
/* line 151, ../../sass/component/form.scss */
.u-form-history .u-form-history-footer {
  border-top: 1px solid #f2f2f2;
}
/* line 153, ../../sass/component/form.scss */
.u-form-history .u-form-history-footer .u-form-history-close {
  margin-right: 0.26667rem;
}

/* line 159, ../../sass/component/form.scss */
.u-form-input-text-orange {
  width: 100%;
  color: #b6aeab;
  background: #f6efeb;
  border: 1px solid #f6efeb;
  padding: 0.26667rem 0;
}

/* line 167, ../../sass/component/form.scss */
.u-search-form {
  width: 7.33333rem;
  height: 0.8rem;
  margin: 0 auto;
}
/* line 171, ../../sass/component/form.scss */
.u-search-form .u-search-input {
  position: relative;
  width: 6.93333rem;
  padding: 0 0.4rem;
  height: 0.73333rem;
  line-height: 0.73333rem;
  border: 1px solid #f2f2f2;
  border-radius: 0.73333rem;
  font-size: 0.32rem;
  background: #fff;
}
/* line 182, ../../sass/component/form.scss */
.u-search-form .u-search-text {
  text-align: center;
  background: #fff;
  width: 6.4rem;
  height: 0.73333rem;
  background: url("../../img/module/ioi_searchbg_0.png") no-repeat 1.46667rem center;
  border: none;
}
@media (-webkit-min-device-pixel-ratio: 1) {
  /* line 193, ../../sass/component/form.scss */
  .u-search-form .u-search-text {
    background: url("../../img/module/ioi_searchbg_1.png") no-repeat 1.46667rem center;
  }
}
@media (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 199, ../../sass/component/form.scss */
  .u-search-form .u-search-text {
    background: url("../../img/module/ioi_searchbg_0.png") no-repeat 1.33333rem center;
  }
}
@media (device-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 204, ../../sass/component/form.scss */
  .u-search-form .u-search-text {
    background: url("../../img/module/ioi_searchbg_0.png") no-repeat 1.33333rem center;
  }
}
@media (device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 209, ../../sass/component/form.scss */
  .u-search-form .u-search-text {
    background: url("../../img/module/ioi_searchbg_0.png") no-repeat 1.33333rem center;
  }
}
/* line 213, ../../sass/component/form.scss */
.u-search-form .u-search-text.noBg {
  background: none;
}
/* line 216, ../../sass/component/form.scss */
.u-search-form .u-search-icon {
  font-size: 0.32rem;
  position: absolute;
  left: 30%;
  top: 25%;
  color: #ff6666;
  -webkit-text-stroke-width: 0;
}
/* line 223, ../../sass/component/form.scss */
.u-search-form .u-search-icon b {
  font-size: 0.26667rem;
  font-weight: normal;
  margin-left: 0.13333rem;
  color: #999;
}

/* line 233, ../../sass/component/form.scss */
.u-count-form {
  width: 2.26667rem;
  height: 0.6rem;
  line-height: 0.6rem;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  background: #fff;
  display: -webkit-box;
  /* Safari and Chrome */
  display: -moz-box;
  /* Firefox */
  display: box;
  text-align: center;
}
/* line 242, ../../sass/component/form.scss */
.u-count-form .iconfont {
  font-size: 0.37333rem;
}
/* line 245, ../../sass/component/form.scss */
.u-count-form .ucf-lf {
  color: #666;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  border-right: 1px solid #f2f2f2;
  width: 0.64rem;
}
/* line 251, ../../sass/component/form.scss */
.u-count-form .ucf-ct {
  -moz-box-flex: 2;
  -webkit-box-flex: 2;
  box-flex: 2;
}
/* line 254, ../../sass/component/form.scss */
.u-count-form .ucf-rg {
  border-left: 1px solid #f2f2f2;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  color: #666;
  width: 0.64rem;
}
/* line 260, ../../sass/component/form.scss */
.u-count-form .u-form-input-num {
  background: #fff;
  border: 0 none;
  box-sizing: border-box;
  width: 0.96rem;
  text-align: center;
  font-size: 0.32rem;
}
