/**
 * Created with WebStorm.
 * User: rico sky$note520.com
 * Date: 2015/10/15
 * Time: 9:22
 * */
/**
 * Created with WebStorm.
 * User: rico ricopter@qq.com
 * Date: 2015/10/15
 * Time: 9:22
 * */
/*===========public==============*/
/* Fade */
/*******************/
/* line 6, ../../sass/component/select.scss */
.u-select, .u-picker {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: 1111;
}
/* line 15, ../../sass/component/select.scss */
.u-select .u-select-bd, .u-select .u-picker-bd, .u-picker .u-select-bd, .u-picker .u-picker-bd {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7.06667rem;
  background-color: #fff;
  overflow: hidden;
  -webkit-transition: transform 0.5s ease-in;
  -moz-transition: transform 0.5s ease-in;
  -ms-transition: transform 0.5s ease-in;
  -o-transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
/* line 36, ../../sass/component/select.scss */
.u-select .u-select-bd .u-select-nav, .u-select .u-select-bd .u-picker-header, .u-select .u-picker-bd .u-select-nav, .u-select .u-picker-bd .u-picker-header, .u-picker .u-select-bd .u-select-nav, .u-picker .u-select-bd .u-picker-header, .u-picker .u-picker-bd .u-select-nav, .u-picker .u-picker-bd .u-picker-header {
  height: 1.17333rem;
  padding: 0 0.26667rem;
  background-color: #fffbf4;
}
/* line 41, ../../sass/component/select.scss */
.u-select .u-select-bd .u-select-nav .u-select-nav-btn, .u-select .u-select-bd .u-select-nav .u-picker-header-btn, .u-select .u-select-bd .u-picker-header .u-select-nav-btn, .u-select .u-select-bd .u-picker-header .u-picker-header-btn, .u-select .u-picker-bd .u-select-nav .u-select-nav-btn, .u-select .u-picker-bd .u-select-nav .u-picker-header-btn, .u-select .u-picker-bd .u-picker-header .u-select-nav-btn, .u-select .u-picker-bd .u-picker-header .u-picker-header-btn, .u-picker .u-select-bd .u-select-nav .u-select-nav-btn, .u-picker .u-select-bd .u-select-nav .u-picker-header-btn, .u-picker .u-select-bd .u-picker-header .u-select-nav-btn, .u-picker .u-select-bd .u-picker-header .u-picker-header-btn, .u-picker .u-picker-bd .u-select-nav .u-select-nav-btn, .u-picker .u-picker-bd .u-select-nav .u-picker-header-btn, .u-picker .u-picker-bd .u-picker-header .u-select-nav-btn, .u-picker .u-picker-bd .u-picker-header .u-picker-header-btn {
  height: 1.17333rem;
  line-height: 1.17333rem;
  font-size: 0.37333rem;
  color: #666;
}
/* line 47, ../../sass/component/select.scss */
.u-select .u-select-bd .u-select-nav .u-select-nav-btn.u-select-nav-btn-active, .u-select .u-select-bd .u-select-nav .u-select-nav-btn.u-picker-header-btn-active, .u-select .u-select-bd .u-select-nav .u-picker-header-btn.u-select-nav-btn-active, .u-select .u-select-bd .u-select-nav .u-picker-header-btn.u-picker-header-btn-active, .u-select .u-select-bd .u-picker-header .u-select-nav-btn.u-select-nav-btn-active, .u-select .u-select-bd .u-picker-header .u-select-nav-btn.u-picker-header-btn-active, .u-select .u-select-bd .u-picker-header .u-picker-header-btn.u-select-nav-btn-active, .u-select .u-select-bd .u-picker-header .u-picker-header-btn.u-picker-header-btn-active, .u-select .u-picker-bd .u-select-nav .u-select-nav-btn.u-select-nav-btn-active, .u-select .u-picker-bd .u-select-nav .u-select-nav-btn.u-picker-header-btn-active, .u-select .u-picker-bd .u-select-nav .u-picker-header-btn.u-select-nav-btn-active, .u-select .u-picker-bd .u-select-nav .u-picker-header-btn.u-picker-header-btn-active, .u-select .u-picker-bd .u-picker-header .u-select-nav-btn.u-select-nav-btn-active, .u-select .u-picker-bd .u-picker-header .u-select-nav-btn.u-picker-header-btn-active, .u-select .u-picker-bd .u-picker-header .u-picker-header-btn.u-select-nav-btn-active, .u-select .u-picker-bd .u-picker-header .u-picker-header-btn.u-picker-header-btn-active, .u-picker .u-select-bd .u-select-nav .u-select-nav-btn.u-select-nav-btn-active, .u-picker .u-select-bd .u-select-nav .u-select-nav-btn.u-picker-header-btn-active, .u-picker .u-select-bd .u-select-nav .u-picker-header-btn.u-select-nav-btn-active, .u-picker .u-select-bd .u-select-nav .u-picker-header-btn.u-picker-header-btn-active, .u-picker .u-select-bd .u-picker-header .u-select-nav-btn.u-select-nav-btn-active, .u-picker .u-select-bd .u-picker-header .u-select-nav-btn.u-picker-header-btn-active, .u-picker .u-select-bd .u-picker-header .u-picker-header-btn.u-select-nav-btn-active, .u-picker .u-select-bd .u-picker-header .u-picker-header-btn.u-picker-header-btn-active, .u-picker .u-picker-bd .u-select-nav .u-select-nav-btn.u-select-nav-btn-active, .u-picker .u-picker-bd .u-select-nav .u-select-nav-btn.u-picker-header-btn-active, .u-picker .u-picker-bd .u-select-nav .u-picker-header-btn.u-select-nav-btn-active, .u-picker .u-picker-bd .u-select-nav .u-picker-header-btn.u-picker-header-btn-active, .u-picker .u-picker-bd .u-picker-header .u-select-nav-btn.u-select-nav-btn-active, .u-picker .u-picker-bd .u-picker-header .u-select-nav-btn.u-picker-header-btn-active, .u-picker .u-picker-bd .u-picker-header .u-picker-header-btn.u-select-nav-btn-active, .u-picker .u-picker-bd .u-picker-header .u-picker-header-btn.u-picker-header-btn-active {
  color: #ff6666;
}
/* line 54, ../../sass/component/select.scss */
.u-select.u-select-active, .u-select.u-picker-active, .u-picker.u-select-active, .u-picker.u-picker-active {
  z-index: 1111;
}
/* line 57, ../../sass/component/select.scss */
.u-select.u-select-active .u-select-bd, .u-select.u-select-active .u-picker-bd, .u-select.u-picker-active .u-select-bd, .u-select.u-picker-active .u-picker-bd, .u-picker.u-select-active .u-select-bd, .u-picker.u-select-active .u-picker-bd, .u-picker.u-picker-active .u-select-bd, .u-picker.u-picker-active .u-picker-bd {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/* line 68, ../../sass/component/select.scss */
.u-select-mask, .u-picker-mask {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 85, ../../sass/component/select.scss */
.u-select-mask.u-mask-active, .u-picker-mask.u-mask-active {
  opacity: 1;
  z-index: 3010;
}

/* line 90, ../../sass/component/select.scss */
.u-select-wheel-box {
  position: relative;
  overflow: hidden;
}
/* line 94, ../../sass/component/select.scss */
.u-select-wheel-box .u-select-selected-box {
  position: absolute;
  height: 1.2rem;
  border: 1px solid #cacaca;
  width: 100%;
  left: 50%;
  top: 1.8rem;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
}
/* line 109, ../../sass/component/select.scss */
.u-select-wheel-box .u-select-wheels {
  width: 100%;
  height: 5.89333rem;
  padding: 0 0.26667rem;
  background-color: #ffffff;
  overflow: hidden;
  display: -webkit-box;
  /* Safari and Chrome */
  display: -moz-box;
  /* Firefox */
  display: box;
}
/* line 118, ../../sass/component/select.scss */
.u-select-wheel-box .u-select-wheels .u-select-wheel {
  height: 5.89333rem;
  position: relative;
  overflow: hidden;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}
/* line 123, ../../sass/component/select.scss */
.u-select-wheel-box .u-select-wheels .u-select-wheel ul {
  list-style: none;
  position: absolute;
  width: 100%;
  margin: 0;
  top: 1.2rem;
}
/* line 129, ../../sass/component/select.scss */
.u-select-wheel-box .u-select-wheels .u-select-wheel ul li {
  line-height: 1.2rem;
  font-size: 0.37333rem;
  color: #666;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 145, ../../sass/component/select.scss */
.u-picker-box {
  height: 6rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0;
  text-align: right;
  -webkit-mask-box-image: linear-gradient(to top, transparent, transparent 5%, white 20%, white 80%, transparent 95%, transparent);
  -webkit-mask-box-image: -webkit-linear-gradient(bottom, transparent, transparent 5%, white 20%, white 80%, transparent 95%, transparent);
}
/* line 163, ../../sass/component/select.scss */
.u-picker-box .u-picker-center-highlight {
  height: 0.96rem;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  margin-top: -0.48rem;
  pointer-events: none;
}
/* line 174, ../../sass/component/select.scss */
.u-picker-box .u-picker-center-highlight:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
  height: 1px;
  width: 100%;
  background-color: #cacaca;
  display: block;
  z-index: 15;
  transform-origin: 50% 0%;
}
/* line 189, ../../sass/component/select.scss */
.u-picker-box .u-picker-center-highlight:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #cacaca;
  display: block;
  z-index: 15;
  transform-origin: 50% 100%;
}
/* line 204, ../../sass/component/select.scss */
.u-picker-box .picker-items-col-center {
  text-align: center;
}
/* line 208, ../../sass/component/select.scss */
.u-picker-box .u-picker-items-col-wrapper {
  transition: 300ms;
  -webkit-transition: 300ms;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
}
/* line 215, ../../sass/component/select.scss */
.u-picker-box .u-picker-item {
  line-height: 0.96rem;
  padding: 0 0.13333rem;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  transition: 300ms;
  color: #999;
  font-size: 0.42667rem;
}
/* line 230, ../../sass/component/select.scss */
.u-picker-box .u-picker-selected {
  color: #3d4145;
  transform: translate3d(0, 0, 0);
  transform: rotateX(0deg);
}
/* line 235, ../../sass/component/select.scss */
.u-picker-box .u-picker-items-col {
  max-height: 100%;
  overflow: hidden;
  position: relative;
}
