@charset "UTF-8";
@import "reset";
@import "flexible";
@import "scroll";
@import "info";
$topHeight: Rem(300 + 86+ 45 +20);

@font-face {
  font-family: "iconfont";
  src: url('../../static/fonts/iconfont.eot'); /* IE9*/
  src: url('../../static/fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../static/fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../../static/fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../../static/fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:Rem(18*2);
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width:Rem(0.2*2);;
  -moz-osx-font-smoothing: grayscale;
  transition: all ease 0.2s;
}

.icon-xiajiantou:before { content: "\e604"; }
.icon-shangjiantou:before { content: "\e607"; }
html {
  background-color: #fefefe;
  font-family: 微软雅黑, arial, sans-serif;
}

.text-overflow{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.viewport {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: Rem(750);
  overflow-x: hidden;

  .header {
    position: relative;
    width: 100%;
    height: $topHeight;

    .ad {
      margin: 0 auto;
      width: Rem(750);
      height: Rem(300);

      img {
        width: 100%;
        height: 100%;
        border: none;
      }
    }

    .nav {
      width: 100%;
      height: Rem(86);
      display: box;
      display: -moz-box;
      display: -webkit-box;

      &.fixed {
        position: fixed;
        top: 0;
        z-index: 100;
      }

      .tab {
        box-flex: 1;
        -moz-box-flex: 1;
        -webkit-box-flex: 1;
        background-color: #383d48;
        height: Rem(83);
        border-bottom: Rem(3) solid #ff5500;

        .time, .state {
          height: Rem(26);
          line-height: Rem(26);
          font-size: Rem(24);
          color: #fefefe;
          text-align: center;
        }
        .time {
          padding-top: Rem(16);
        }
        .state {

        }
      }

      .tab.active {
        background-color: #ff5500;
      }
    }

    .location-selected{
      line-height: Rem(45);
      padding: Rem(10) 0;
      .ls-lf{
        float: left;
        display: inline-block;
      }
      .ls-rg{
        float: left;
        display: inline-block;
        width: Rem(400);
        h4{
          font-size: Rem(32);
          text-align: center;
        }
      }
      //下拉组件
      .u-drop-down{
        width: Rem(100);
        //overflow: hidden;
        margin: 0 auto;
        text-align: center;
        //position: relative;
        a{color:#333;}
        .u-drop-text{
          line-height: Rem(45);
          @extend .clearfix;
          span{
            display:inline-block;
            height: Rem(45);
            @extend .text-overflow;
            margin-right: Rem(5);
            float: left;
            text-align: right;
          }
          .iconfont{
            float: left;
            display:inline-block;
            width: Rem(25);
            font-size: Rem(18);
            text-align: left;
          }
        }
      }
      .u-drop-down{
        width: Rem(200);
        .u-drop-text span{
          width: Rem(100);
        }
        .u-drop-text .iconfont{
          width: Rem(30);
        }
      }
    }
  }

  .main {
    position: absolute;
    top: $topHeight;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;

    .time-left {
      position: relative;
      width: 100%;
      height: Rem(201);
      opacity: 1;
      overflow: hidden;
      background-color: #f2f2f2;

      //-webkit-transition: height .5s, opacity .4s;
      //transition: height .5s, opacity .4s;

      .time-main {
        position: relative;
        .border {
          position: absolute;
          height: Rem(2);
          background-color: #e5e5e5;
          top: Rem(37.5);
          left: 0;
          width: 100%;
        }

        .time {
          position: relative;
          width: Rem(350);
          margin: 0 auto;
          overflow: hidden;
          z-index: 4;
        }

        .text {
          width: Rem(240);
          height: Rem(25);
          padding: Rem(25) Rem(10) 0;
          margin: 0 auto;
          line-height: Rem(25);
          font-size: Rem(24);
          color: #666666;
          text-align: center;
          background-color: #f2f2f2;
        }

        .flip-time {
          display: box;
          display: -moz-box;
          display: -webkit-box;
          height: Rem(40);
          margin: Rem(15) auto;

          .time-box {
            box-flex: 0;
            -moz-box-flex: 0;
            -webkit-box-flex: 0;
            width: Rem(48);
            height: Rem(40);
            line-height: Rem(40);
            background-color: #cccccc;
            color: #333333;
            font-size: Rem(24);
            border-top-right-radius: Rem(8);
            border-top-left-radius: Rem(8);
            border-bottom-right-radius: Rem(8);
            border-bottom-left-radius: Rem(8);
            text-align: center;
          }
          .time-dot {
            box-flex: 1;
            -moz-box-flex: 1;
            -webkit-box-flex: 1;
            height: Rem(40);
            line-height: Rem(40);
            font-size: Rem(24);
            color: #cccccc;
            text-align: center;
          }
        }
      }

      .remind {
        .btn {
          width: Rem(150);
          height: Rem(56);
          line-height: Rem(56);
          border-radius: Rem(56);
          border: Rem(2) solid #ff5500;
          background-color: #ff9000;
          color: #ffffff;
          font-size: Rem(28);
          text-align: center;
          margin: Rem(10) auto;
        }
      }
    }
    &.pass, &.load, &.in {
      .time-left {
        height: 0;
        opacity: 0;
      }
    }

    .lists {

      .list {
        padding: Rem(20) Rem(20) 0;

        .brief-txt{
          height:Rem(65);
          overflow: hidden;
          position: relative;
          .iconfont{
            position: absolute;
            bottom: 0;
            right: 20px;
          }
          .all-txt{
            display: none;
          }
          .cut-txt{
            display: block;
          }
        }
        .brief-txt.autoH{
          height: auto;
          .all-txt{
            display: block;
          }
          .cut-txt{
            display: none;
          }
        }
        .list-item {
          //height: Rem(380);
          margin-bottom: Rem(10);

          .ico {
            width: Rem(180);
            height: Rem(180);
            background-color: #f2f2f2;
            float: left;
            img {
              width: 100%;
              height: 100%;
            }
          }

          .info {
            height: Rem(180);
            margin-left: Rem(200);
            margin-bottom: Rem(15);
            .title {
              height: Rem(50);
              line-height: Rem(28);
              font-size: Rem(28);
              color: #333333;
            }

            .box {
              height: Rem(60);
              padding: Rem(27) 0;
              margin: Rem(8) 0;

              display: box;
              display: -moz-box;
              display: -webkit-box;

              background-color: #fff9f6;
              border-top-right-radius: Rem(8);
              border-top-left-radius: Rem(8);
              border-bottom-right-radius: Rem(8);
              border-bottom-left-radius: Rem(8);

              .box-left {
                box-flex: 1;
                -moz-box-flex:1;
                -webkit-box-flex: 1;
                padding: 0 0 0 Rem(20);

                .count {
                  display: box;
                  display: -moz-box;
                  display: -webkit-box;
                  width: 100%;
                  height: Rem(20);

                  .count-process {
                    box-flex: 1;
                    -moz-box-flex: 1;
                    -webkit-box-flex: 1;
                    height: Rem(15);
                    margin: Rem(2.5) Rem(8) Rem(2.5) 0;
                    overflow: hidden;
                    background-color: #e5e5e5;
                    border-top-right-radius: Rem(15);
                    border-top-left-radius: Rem(15);
                    border-bottom-right-radius: Rem(15);
                    border-bottom-left-radius: Rem(15);

                    .count-process-in {
                      width: 50%;
                      height: 100%;
                      background-color: #ff9000;
                      border-top-right-radius: Rem(15);
                      border-top-left-radius: Rem(15);
                      border-bottom-right-radius: Rem(15);
                      border-bottom-left-radius: Rem(15);
                    }
                  }

                  .count-num {
                    box-flex: 0;
                    -moz-box-flex: 0;
                    -webkit-box-flex: 0;
                    width: Rem(105);
                    color: #666666;
                    font-size: Rem(18);
                    line-height: Rem(20);
                    height: Rem(20);
                    text-align: right;
                  }
                }

                .price {
                  height: Rem(40);
                  font-size: Rem(28);
                  line-height: Rem(40);
                  overflow: hidden;

                  i {
                    font-size: Rem(20);
                    font-style: normal;
                  }
                  .cross {
                    text-decoration: line-through;
                  }
                  .price-red {
                    color: #ff9000;
                    float: left;
                  }
                  .price-gary {
                    color: #999999;
                    font-size: Rem(20);
                    line-height: Rem(48);
                    float: left;
                  }
                }
              }
              .price > * {
                margin-right: Rem(10);
                vertical-align: text-bottom;
              }

              .box-right {
                box-flex: 0;
                -moz-box-flex: 0;
                -webkit-box-flex: 0;
                width: Rem(172);
              }
            }
          }
        }
      }

    }

  }

  .main .btn {
    height: Rem(56);
    width: Rem(150);
    margin: 0 auto;
    border-radius: Rem(28);
    border: Rem(2) solid #ff5500;
    background-color: #ff9000;
    color: #ffffff;
    font-size: Rem(28);
    line-height: Rem(56);
    text-align: center;
  }

  .main .btn:active {
    background-color: #ff5500;
    color: #fefefe;
  }

  .main .btn.disable {
    background-color: #b3b3b3;
    color: #666666;
    border-color: #999999;
  }

  .main.before, .main.load {
    .btn {
      background-color: #b3b3b3;
      color: #666666;
      border-color: #999999;
    }
    .btn.btn-out {
      display: block;
    }
    .btn.btn-in {
      display: none;
    }
  }

  .main.in, .main.pass {
    .btn.btn-out {
      display: none;
    }
    .btn.btn-in {
      display: block;
    }
  }



  .overlayer {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    overflow: hidden;
    z-index: 100;
  }

}
//slider组件
.u-slider-mod{
  height: Rem(310);
  overflow: hidden;
  position: relative;
  .usm-ft{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .u-slider-list{
    li{
      text-align: center;
      height: Rem(310);
    }
    li a{
      display: block;
      width: 100%;
      height: 100%;
    }
    li img{
      max-width: 100%;
    }
  }
  .u-slider-dot{
    @extend .clearfix;
    text-align: center;
    dd{
      width: Rem(16);
      height: Rem(16);
      background:rgba(255,255,255,0.6);
      border-radius: 16px;
      margin: 0 Rem(2);
      display: inline-block;
      cursor: pointer;
    }
    dd.u-active{
      background:rgba(255,255,255,1);
    }
  }
}

.u-slide{
  position: relative;
  max-width:  Rem(640*2);
  overflow: hidden;
  margin: 0 auto  Rem(20*2) auto;
  ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  li{
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  /* 解决js阻塞页面显示首屏 */
  li:first-child{
    z-index: 1;
  }
  li img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  .dot{
    position: absolute;
    right:  Rem(10*2);
    bottom: Rem(10*2);
    z-index: 5;
    font-size: 0;
  }
  .dot span{
    display: inline-block;
    width: Rem(5*2);
    height: Rem(5*2);
    margin-left: Rem(5*2);
    border: 1px solid #fff;
    border-radius: 50%;
  }
  .dot .cur{
    background-color: #fff;
  }
}
.u-slide:after{
  content: '';
  display: block;
  width: 100%;
  padding-top: 50%;
}