/**
 * Created with WebStorm.
 * User: rico ricopter@qq.com
 * Date: 2016/3/21
 * Time: 15:44
 * */
/**
 * Created with WebStorm.
 * User: rico sky$note520.com
 * Date: 2015/10/15
 * Time: 9:22
 * */
/**
 * Created with WebStorm.
 * User: rico ricopter@qq.com
 * Date: 2015/10/15
 * Time: 9:22
 * */
/*===========public==============*/
/* Fade */
/*******************/
/* line 13, ../../../sass/dhy/module/accountSafe.scss */
.m-accountSafe-page .u-form-item label:not(.u-switch):not(.u-checkbox):not(.u-radio) {
  width: 2.53333rem;
  font-size: 0.34667rem;
}
/* line 17, ../../../sass/dhy/module/accountSafe.scss */
.m-accountSafe-page .m-form-item-icon .u-form-input-text {
  width: 6.53333rem;
  padding-left: 2.93333rem;
  height: 1.6rem;
  line-height: 1.6rem;
  display: inline-block;
  z-index: 1;
  position: relative;
}
/* line 26, ../../../sass/dhy/module/accountSafe.scss */
.m-accountSafe-page .u-placeholder-label {
  font-size: 0.32rem;
  line-height: 0.46667rem;
  width: 4.8rem;
  height: 1.33333rem;
  left: 2.93333rem;
  top: 0.24rem;
  color: #d9d9d9;
  z-index: 0;
}
/* line 36, ../../../sass/dhy/module/accountSafe.scss */
.m-accountSafe-page .u-badge-text {
  font-size: 0.32rem;
}
/* line 39, ../../../sass/dhy/module/accountSafe.scss */
.m-accountSafe-page .u-form-item .g-form-item-rg i {
  margin: 0;
}
/* line 46, ../../../sass/dhy/module/accountSafe.scss */
.m-accountSafe-page .u-form-item .u-form-item-line {
  height: 1.2rem;
  display: block;
}
/* line 50, ../../../sass/dhy/module/accountSafe.scss */
.m-accountSafe-page .u-form-item-line a {
  color: #333;
  height: 1.2rem;
  display: block;
}
/* line 55, ../../../sass/dhy/module/accountSafe.scss */
.m-accountSafe-page .u-form-item-line .u-fontColor-them {
  color: #ff6666;
}
