/**
 * Created with WebStorm.
 * User: rico sky$note520.com
 * Date: 2015/10/15
 * Time: 9:22
 * */
/**
 * Created with WebStorm.
 * User: rico ricopter@qq.com
 * Date: 2015/10/15
 * Time: 9:22
 * */
/*===========public==============*/
/* Fade */
/*******************/
/* line 5, ../../../sass/dhy/module/commercialCard.scss */
.u-sprite {
  background-repeat: no-repeat;
  background-position: 0 0;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}

/* line 10, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-info {
  background-color: #f5f5f5;
}
/* line 12, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-info .g-card {
  padding: 0.53333rem 0 0.77333rem 0;
  background-image: radial-gradient(#dfdad9, #f5f5f5);
  -moz-background-size: 8.13333rem 0.13333rem;
  -o-background-size: 8.13333rem 0.13333rem;
  -webkit-background-size: 8.13333rem 0.13333rem;
  background-size: 8.13333rem 0.13333rem;
  background-repeat: no-repeat;
  background-position: center bottom 0.46667rem;
}
/* line 19, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-info .m-card {
  width: 8.13333rem;
  height: 4.21333rem;
  margin: 0 auto;
  border: 0.26667rem solid #ddd;
  border-radius: 0.05333rem;
  background-color: #f76945;
  background-image: url("/public/static/img/module/logo_big.png");
  background-repeat: no-repeat;
  background-position: right -43.75% bottom;
  -moz-background-size: auto 3.82667rem;
  -o-background-size: auto 3.82667rem;
  -webkit-background-size: auto 3.82667rem;
  background-size: auto 3.82667rem;
  font-size: 0.4rem;
  line-height: 1;
  color: #fff;
  overflow: hidden;
}
/* line 33, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-info .m-card .msg {
  margin-left: 0.45333rem;
  margin-top: 0.64rem;
}
/* line 36, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-info .m-card .msg .logo {
  float: left;
}
/* line 38, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-info .m-card .msg .logo.u-sprite {
  background-image: url("/public/static/img/module/logo_small.png");
  background-color: #fff;
  -moz-background-origin: content;
  -o-background-origin: content-box;
  -webkit-background-origin: content;
  background-origin: content-box;
  width: 1.41333rem;
  height: 0.94667rem;
  padding: 0.17333rem 0.37333rem;
  margin-right: 0.2rem;
  border: 0.44rem solid #ddd;
  border-radius: 0.05333rem;
}
/* line 49, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-info .m-card .msg .info {
  overflow: hidden;
}
/* line 51, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-info .m-card .msg .info .money {
  font-size: 0.32rem;
  line-height: 0.48rem;
}
/* line 54, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-info .m-card .msg .info .money span {
  font-size: 0.37333rem;
}
/* line 60, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-info .m-card .no {
  margin: 1.6rem 0 0 0.42667rem;
}
/* line 64, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-info .u-text {
  height: 1.18667rem;
  border-bottom: 1px solid #f2f2f2;
  padding-left: 0.26667rem;
  line-height: 1.17333rem;
  font-size: 0.37333rem;
  background: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 74, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-info .u-text:last-child {
  border-bottom: 0;
}
/* line 79, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-info .m-card-des .money {
  color: #ff6414;
  margin: 0 0.30667rem 0 0.2rem;
}
/* line 82, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-info .m-card-des .money:before {
  content: "\00a5";
}
/* line 86, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-info .m-card-des .range {
  font-size: 0.29333rem;
  color: #999;
}
/* line 91, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-info .m-link-box {
  margin-top: 0.28rem;
}
/* line 93, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-info .m-link-box .u-text {
  display: block;
}
/* line 96, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-info .m-link-box .arrow {
  float: right;
  margin-right: 0.26667rem;
  font-size: 0.37333rem;
  line-height: 1.17333rem;
}

/* line 105, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-list .g-search {
  background: #fff;
  height: 1.18667rem;
  border-bottom: 1px solid #e9e9e9;
}
/* line 110, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-list .arrow {
  line-height: 1.17333rem;
  vertical-align: middle;
  margin-right: 0.42667rem;
}
/* line 115, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-list .m-search {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 8.77333rem;
  height: 0.8rem;
  border: 0.4rem solid #ddd;
  border-radius: 0.05333rem;
  background-color: #f2f2f2;
}
/* line 122, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-list .m-card-mini-list {
  background: #e3e4e8;
}
/* line 125, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-list .m-card-mini-list .item .foot {
  height: 0.13333rem;
  border-top: 1px solid #d8dbe0;
  border-bottom: 1px solid #fcfcfc;
}
/* line 132, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-list .g-card-mini {
  position: relative;
  height: 2.25333rem;
  background: #f5f5f5;
  margin-bottom: 0.12rem;
}
/* line 138, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-list .m-card-mini {
  position: absolute;
  width: 9.46667rem;
  height: 1.72rem;
  left: 50%;
  top: 0.66667rem;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0 auto;
  border: 0.26667rem 0.26667rem 0 0 solid #ddd;
  border-radius: 0.05333rem;
  background-color: #f76945;
  background-image: url("/public/static/img/module/logo_big.png");
  background-repeat: no-repeat;
  background-position: right -43.75% bottom;
  -moz-background-size: auto 3.82667rem;
  -o-background-size: auto 3.82667rem;
  -webkit-background-size: auto 3.82667rem;
  background-size: auto 3.82667rem;
  font-size: 0.4rem;
  line-height: 1;
  color: #fff;
}
/* line 155, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-list .m-card-mini .msg {
  margin-left: 0.29333rem;
  margin-top: 0.4rem;
}
/* line 158, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-list .m-card-mini .msg .logo {
  float: left;
}
/* line 160, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-list .m-card-mini .msg .logo.u-sprite {
  background-image: url("/public/static/img/module/logo_small.png");
  background-color: #fff;
  -moz-background-origin: content;
  -o-background-origin: content-box;
  -webkit-background-origin: content;
  background-origin: content-box;
  width: 1.41333rem;
  height: 0.94667rem;
  padding: 0.17333rem 0.37333rem;
  margin-right: 0.28rem;
  border: 0.44rem solid #ddd;
  border-radius: 0.05333rem;
}
/* line 171, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-list .m-card-mini .msg .info {
  overflow: hidden;
}
/* line 173, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-list .m-card-mini .msg .info .name {
  line-height: 0.38667rem;
}
/* line 176, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-list .m-card-mini .msg .info .no {
  font-size: 0.32rem;
  margin-top: 0.2rem;
}
/* line 180, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-list .m-card-mini .msg .info .money {
  position: absolute;
  bottom: 0.4rem;
  left: 7.14667rem;
  font-size: 0.32rem;
}
/* line 189, ../../../sass/dhy/module/commercialCard.scss */
.m-commercial-card-list .add {
  height: 1.17333rem;
  width: 9.46667rem;
  border-width: 2px;
  margin: 0.49333rem auto 0;
}
