/**
 * Created with WebStorm.
 * User: rico ricopter@qq.com
 * Date: 2016/3/21
 * Time: 16:11
 * */
/**
 * Created with WebStorm.
 * User: rico sky$note520.com
 * Date: 2015/10/15
 * Time: 9:22
 * */
/**
 * Created with WebStorm.
 * User: rico ricopter@qq.com
 * Date: 2015/10/15
 * Time: 9:22
 * */
/*===========public==============*/
/* Fade */
/*******************/
/* line 11, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod {
  position: relative;
  min-height: 16.72rem;
}
/* line 15, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .advertisement {
  position: relative;
  width: 10rem;
  height: 2.4rem;
  margin-bottom: 0.26667rem;
  overflow: hidden;
}
/* line 22, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .advertisement .diff-btn {
  position: absolute;
  bottom: 0.26667rem;
  right: 0.26667rem;
  display: block;
  height: 0.48rem;
  border: 0.04rem solid rgba(255, 255, 255, 0.5);
  padding: 0 0.26667rem;
  -webkit-border-radius: 0.24rem;
  -moz-border-radius: 0.24rem;
  border-radius: 0.24rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 0.34667rem;
  line-height: 0.48rem;
}
/* line 39, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .advertisement img {
  width: 100%;
  height: 100%;
}
/* line 44, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .u-normal-mod {
  margin-bottom: 0.26667rem;
}
/* line 47, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .u-normal-mod .green {
  color: #33c165;
}
/* line 50, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .u-normal-mod .orange {
  color: #ff6414;
}
/* line 54, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .u-normal-mod .u-cont {
  padding: 0.4rem 0.26667rem;
}
/* line 57, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .u-normal-mod .u-cont .m-flex-box {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
/* line 62, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .u-normal-mod .u-cont .m-flex-box .flex-box-item {
  -webkit-box-flex: 1;
  box-flex: 1;
}
/* line 67, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .u-normal-mod .u-cont .input-box {
  -webkit-box-flex: 0;
  box-flex: 0;
  width: 7.2rem;
}
/* line 72, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .u-normal-mod .u-cont .input-box input {
  border: 1px solid #f2f2f2;
  padding: 0.26667rem;
  height: 1rem;
  width: 100%;
  line-height: 1rem;
  background-color: #fbfbfb;
  font-size: 0.32rem;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0.06667rem;
  -moz-border-radius: 0.06667rem;
  border-radius: 0.06667rem;
}
/* line 93, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .u-normal-mod .u-cont .btn-box {
  padding: 0 0.2rem;
}
/* line 96, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .u-normal-mod .u-cont .btn-box .u-btn {
  height: 1rem;
  line-height: 1rem;
  margin-bottom: 0;
}
/* line 105, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .qcode {
  width: 2.06667rem;
  height: 2.06667rem;
  overflow: hidden;
  float: left;
}
/* line 111, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .qcode img {
  width: 100%;
  height: 100%;
}
/* line 117, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .qcode-text {
  font-size: 0.34667rem;
  color: #333;
  padding: 0.26667rem;
  margin-left: 2.06667rem;
}
/* line 124, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .summary-tip {
  background-color: #fff2db;
  border-top: 1px solid #ffeed5;
  line-height: 0.50667rem;
  padding: 0.26667rem;
  margin-top: 0.26667rem;
  color: #ff6f00;
}
/* line 132, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .summary-tip .m-iconfont-b2b {
  color: #ff6f00;
  width: 0.26667rem;
  height: 0.26667rem;
  float: left;
  font-size: 0.26667rem;
}
/* line 141, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .qrcode-btn {
  margin: 0.26667rem auto;
  padding: 0 0.26667rem;
}
/* line 146, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .u-qrcode-mod {
  padding: 0.53333rem;
}
/* line 149, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .u-qrcode-mod .title, .m-invitation-mod .u-qrcode-mod .qrcode-box {
  text-align: center;
}
/* line 152, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .u-qrcode-mod .title {
  color: #333333;
  height: 0.62667rem;
  line-height: 0.62667rem;
  font-size: 0.37333rem;
}
/* line 159, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .u-qrcode-mod .qrcode-box {
  margin: 0 auto;
  width: 4.13333rem;
  height: 4.13333rem;
  padding: 0.13333rem;
  background-color: #ffffff;
}
/* line 166, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .u-qrcode-mod .qrcode-box img {
  width: 100%;
  height: 100%;
}
/* line 172, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .u-qrcode-mod .qrcode-btn {
  margin: 0.26667rem auto;
  width: 4.13333rem;
}
/* line 178, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .m-invitation-share {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
/* line 188, ../../../sass/dhy/module/invitation.scss */
.m-invitation-mod .m-invitation-share .share {
  position: absolute;
  right: 0.26667rem;
  top: 0.26667rem;
  width: 7.70667rem;
  height: 3.94667rem;
  background: url("/public/static/img/module/myInvitationShareLayer.png") no-repeat;
  background-size: contain;
}

/* line 201, ../../../sass/dhy/module/invitation.scss */
.m-invitation-rule-mod .ad-box {
  padding: 0.26667rem;
  width: 9.46667rem;
  height: 2.4rem;
}
/* line 205, ../../../sass/dhy/module/invitation.scss */
.m-invitation-rule-mod .ad-box img {
  width: 100%;
  height: 100%;
}
/* line 211, ../../../sass/dhy/module/invitation.scss */
.m-invitation-rule-mod .rules {
  padding: 0.26667rem;
  color: #333333;
  font-size: 0.37333rem;
  line-height: 0.50667rem;
}

/* line 222, ../../../sass/dhy/module/invitation.scss */
.m-invitation-list-mod .m-invitation-count-mod {
  width: 10rem;
  padding-top: 0.53333rem;
  background: radial-gradient(100% 100% at 50% 0, #f18d49, #f7513c);
  background: -webkit-radial-gradient(50% 0, 100% 100%, #f18d49, #f7513c);
}
/* line 230, ../../../sass/dhy/module/invitation.scss */
.m-invitation-list-mod .m-invitation-count-mod .count-box {
  color: #ffffff;
}
/* line 233, ../../../sass/dhy/module/invitation.scss */
.m-invitation-list-mod .m-invitation-count-mod .count-box .title {
  text-align: center;
  font-size: 0.37333rem;
  line-height: 0.4rem;
}
/* line 238, ../../../sass/dhy/module/invitation.scss */
.m-invitation-list-mod .m-invitation-count-mod .count-box .num {
  text-align: center;
  font-size: 0.64rem;
  line-height: 1.06667rem;
}
/* line 246, ../../../sass/dhy/module/invitation.scss */
.m-invitation-list-mod .m-invitation-scroller-mod {
  position: absolute;
  top: 2.13333rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
/* line 254, ../../../sass/dhy/module/invitation.scss */
.m-invitation-list-mod .m-invitation-scroller-mod .m-scroller-refresh {
  margin-top: 0.26667rem;
}
/* line 259, ../../../sass/dhy/module/invitation.scss */
.m-invitation-list-mod .m-invitation-scroller-mod .tip {
  font-size: 0.32rem;
  height: 0.96rem;
  line-height: 0.96rem;
  color: #b3b3b3;
  text-align: center;
}
/* line 269, ../../../sass/dhy/module/invitation.scss */
.m-invitation-list-mod .m-invitation-scroller-mod .u-list li {
  height: 1.6rem;
  line-height: 1.6rem;
}
/* line 273, ../../../sass/dhy/module/invitation.scss */
.m-invitation-list-mod .m-invitation-scroller-mod .u-list li a {
  height: 1.6rem;
  line-height: 1.6rem;
}
/* line 277, ../../../sass/dhy/module/invitation.scss */
.m-invitation-list-mod .m-invitation-scroller-mod .u-list li a .g-fl-lf {
  width: 6rem;
  padding: 0.26667rem 0;
}
/* line 280, ../../../sass/dhy/module/invitation.scss */
.m-invitation-list-mod .m-invitation-scroller-mod .u-list li a .g-fl-lf .t-l-t {
  display: block;
  height: 0.66667rem;
  line-height: 0.66667rem;
  font-size: 0.37333rem;
  color: #333333;
}
/* line 287, ../../../sass/dhy/module/invitation.scss */
.m-invitation-list-mod .m-invitation-scroller-mod .u-list li a .g-fl-lf .t-l-b {
  display: block;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.32rem;
  color: #666666;
}
/* line 295, ../../../sass/dhy/module/invitation.scss */
.m-invitation-list-mod .m-invitation-scroller-mod .u-list li a .fl-rg {
  height: 1.6rem;
  line-height: 1.6rem;
}
