/**
 * Created with WebStorm.
 * User: rico ricopter@qq.com
 * Date: 2016/3/21
 * Time: 16:05
 * */
/**
 * Created with WebStorm.
 * User: rico sky$note520.com
 * Date: 2015/10/15
 * Time: 9:22
 * */
/**
 * Created with WebStorm.
 * User: rico ricopter@qq.com
 * Date: 2015/10/15
 * Time: 9:22
 * */
/*===========public==============*/
/* Fade */
/*******************/
/* line 11, ../../../sass/dhy/module/pointsExchange.scss */
.m-pointsExchange-mod {
  zoom: 1;
  height: 100%;
  background: #f2f3f7;
}
/* line 99, ../../../sass/common/_mixin.scss */
.m-pointsExchange-mod::before, .m-pointsExchange-mod::after {
  display: table;
  line-height: 0;
  content: "";
}
/* line 104, ../../../sass/common/_mixin.scss */
.m-pointsExchange-mod::after {
  clear: both;
}
/* line 15, ../../../sass/dhy/module/pointsExchange.scss */
.m-pointsExchange-mod .u-refresh-wrapper {
  background: #fff;
}
/* line 18, ../../../sass/dhy/module/pointsExchange.scss */
.m-pointsExchange-mod #curCity {
  width: 1.86667rem;
}
/* line 20, ../../../sass/dhy/module/pointsExchange.scss */
.m-pointsExchange-mod #curCity .u-drop-text span {
  width: 1.33333rem;
}
/* line 25, ../../../sass/dhy/module/pointsExchange.scss */
.m-pointsExchange-mod .mpm-hd {
  padding: 0.26667rem 0;
  background: #f2f3f7;
}
/* line 29, ../../../sass/dhy/module/pointsExchange.scss */
.m-pointsExchange-mod .mh-lf {
  width: 2.13333rem;
  padding-top: 0.06667rem;
  height: 0.66667rem;
}
/* line 34, ../../../sass/dhy/module/pointsExchange.scss */
.m-pointsExchange-mod .mh-rg {
  height: 0.73333rem;
}
/* line 37, ../../../sass/dhy/module/pointsExchange.scss */
.m-pointsExchange-mod .mpm-ban {
  height: 4.13333rem;
}
/* line 41, ../../../sass/dhy/module/pointsExchange.scss */
.m-pointsExchange-mod .mpm-sort {
  width: 100%;
  display: -webkit-box;
  /* Safari and Chrome */
  display: -moz-box;
  /* Firefox */
  display: box;
  padding: 0.13333rem 0;
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
}
/* line 48, ../../../sass/dhy/module/pointsExchange.scss */
.m-pointsExchange-mod .mpm-sort .ms-item {
  -webkit-box-flex: 1.0;
  /* Safari and Chrome */
  -moz-box-flex: 1.0;
  /* Firefox */
  box-flex: 1.0;
}
/* line 53, ../../../sass/dhy/module/pointsExchange.scss */
.m-pointsExchange-mod .mpm-sort .u-drop-down {
  width: 2.66667rem;
}
/* line 55, ../../../sass/dhy/module/pointsExchange.scss */
.m-pointsExchange-mod .mpm-sort .u-drop-down .u-drop-text span {
  width: 1.33333rem;
}
/* line 58, ../../../sass/dhy/module/pointsExchange.scss */
.m-pointsExchange-mod .mpm-sort .u-drop-down .u-drop-text .iconfont {
  width: 0.4rem;
}
/* line 63, ../../../sass/dhy/module/pointsExchange.scss */
.m-pointsExchange-mod .mpm-bd {
  background: #f2f3f7;
  margin-top: 0.26667rem;
  height: 100%;
}
/* line 71, ../../../sass/dhy/module/pointsExchange.scss */
.m-pointsExchange-mod .g-fixed-top .mpm-bd {
  padding-top: 6.66667rem;
}
