/**
 * Created with WebStorm.
 * User: rico ricopter@qq.com
 * Date: 2016/3/21
 * Time: 15:59
 * */
/**
 * Created with WebStorm.
 * User: rico sky$note520.com
 * Date: 2015/10/15
 * Time: 9:22
 * */
/**
 * Created with WebStorm.
 * User: rico ricopter@qq.com
 * Date: 2015/10/15
 * Time: 9:22
 * */
/*===========public==============*/
/* Fade */
/*******************/
/* line 13, ../../../sass/dhy/module/pointsList.scss */
.m-pointsList-mod .m-points-list-mod {
  height: 100%;
  margin-top: 0.26667rem;
}

/* line 24, ../../../sass/dhy/module/pointsList.scss */
.u-points-list li {
  background: #fff;
}
/* line 25, ../../../sass/dhy/module/pointsList.scss */
.u-points-list li a {
  zoom: 1;
  display: block;
  color: #333;
  padding: 0.4rem 0.26667rem 0.26667rem 0;
  border-bottom: 1px solid #f2f2f2;
}
/* line 99, ../../../sass/common/_mixin.scss */
.u-points-list li a::before, .u-points-list li a::after {
  display: table;
  line-height: 0;
  content: "";
}
/* line 104, ../../../sass/common/_mixin.scss */
.u-points-list li a::after {
  clear: both;
}
/* line 31, ../../../sass/dhy/module/pointsList.scss */
.u-points-list li a h3 {
  margin-bottom: 0.13333rem;
}
/* line 35, ../../../sass/dhy/module/pointsList.scss */
.u-points-list li a .upl-lf p {
  color: #999;
}
/* line 39, ../../../sass/dhy/module/pointsList.scss */
.u-points-list li a .upl-rg {
  text-align: right;
}
/* line 42, ../../../sass/dhy/module/pointsList.scss */
.u-points-list li a .upl-reduce {
  color: #3db860;
}
/* line 45, ../../../sass/dhy/module/pointsList.scss */
.u-points-list li a .upl-add {
  color: #ff6414;
}
/* line 51, ../../../sass/dhy/module/pointsList.scss */
.u-points-list li:active, .u-points-list li.u-active, .u-points-list li:hover, .u-points-list li:focus {
  background: #efefef;
}
