/**
 * Created with WebStorm.
 * User: rico ricopter@qq.com
 * Date: 2016/3/21
 * Time: 16:12
 * */
/**
 * Created with WebStorm.
 * User: rico sky$note520.com
 * Date: 2015/10/15
 * Time: 9:22
 * */
/**
 * Created with WebStorm.
 * User: rico ricopter@qq.com
 * Date: 2015/10/15
 * Time: 9:22
 * */
/*===========public==============*/
/* Fade */
/*******************/
/* line 12, ../../../sass/dhy/module/refund.scss */
.m-apply-refund, .m-refund {
  font-family: "Noto Sans CJK SC", "Source Han Sans CN", sans-serif;
  font-size: 0.34667rem;
  color: #333;
  background: #f2f2f2;
}
/* line 26, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .g-money, .m-refund .g-money {
  background: #fff;
  padding: 0.4rem 0;
  border-bottom: 1px dashed #eee;
}
/* line 31, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .money, .m-refund .money {
  text-align: center;
  width: 9.46667rem;
  -moz-border-radius: 0.86667rem;
  -webkit-border-radius: 0.86667rem;
  border-radius: 0.86667rem;
  padding: 0.4rem 0;
  background: #fff9f6;
  margin: 0 auto;
}
/* line 47, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .money .amount, .m-refund .money .amount {
  font-size: 0.4rem;
  color: #ff6414;
  line-height: 0.45333rem;
}
/* line 52, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .money .amount .number:before, .m-refund .money .amount .number:before {
  content: "\00a5";
}
/* line 57, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .money .tip, .m-refund .money .tip {
  padding-top: 0.21333rem;
  color: #666;
}
/* line 62, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-process, .m-refund .m-process {
  background: #fff;
  height: 2.64rem;
  text-align: center;
  overflow: hidden;
}
/* line 67, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-process .icons, .m-refund .m-process .icons {
  margin-top: 0.74667rem;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 70, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-process .icons .tag, .m-refund .m-process .icons .tag {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 0.45333rem;
  padding: 0.29333rem;
  width: 10.66667rem;
  height: 10.66667rem;
  color: #b3b3b3;
  background: #fff9f6;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* line 80, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-process .icons .tag.in, .m-refund .m-process .icons .tag.in {
  color: #ff5500;
  border: 1px solid #ff5500;
}
/* line 85, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-process .icons .arrow, .m-refund .m-process .icons .arrow {
  margin: 0 0.36rem;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 88, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-process .icons .arrow .u-line, .m-refund .m-process .icons .arrow .u-line {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 3.46667rem;
  border-bottom: 2px solid #ECE9E9;
}
/* line 93, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-process .icons .arrow .iconfont, .m-refund .m-process .icons .arrow .iconfont {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-transform: translate(-0.22rem, 0rem);
  -ms-transform: translate(-0.22rem, 0rem);
  -webkit-transform: translate(-0.22rem, 0rem);
  transform: translate(-0.22rem, 0rem);
  font-size: 0.24rem;
  color: #cacaca;
}
/* line 102, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-process .message, .m-refund .m-process .message {
  font-size: 0.32rem;
  color: #666666;
  margin: 0.3rem 0.9rem 0;
}
/* line 108, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-list, .m-refund .m-list {
  margin-top: 0.28rem;
  background: #fff;
}
/* line 111, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-list .title, .m-refund .m-list .title {
  padding-left: 0.24rem;
  margin: 0 1px;
  border-bottom: 1px solid #f2f2f2;
  line-height: 0.96rem;
  height: 0.96rem;
}
/* line 117, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-list .title.big, .m-refund .m-list .title.big {
  line-height: 1.17333rem;
  height: 1.17333rem;
  border-bottom: 0;
}
/* line 121, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-list .title.big span, .m-refund .m-list .title.big span {
  font-size: 0.34667rem;
}
/* line 125, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-list .title span, .m-refund .m-list .title span {
  font-size: 0.29333rem;
  color: #999;
}
/* line 133, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-type .g-tag, .m-refund .m-type .g-tag {
  display: table-cell;
  vertical-align: middle;
  height: 1.73333rem;
}
/* line 137, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-type .g-tag .u-tag, .m-refund .m-type .g-tag .u-tag {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-align: center;
  margin-left: 0.25333rem;
  border: 1px solid #e9e9e9;
  width: 3.84rem;
  height: 0.90667rem;
  line-height: 0.90667rem;
}
/* line 146, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-type .g-tag .u-tag i, .m-refund .m-type .g-tag .u-tag i {
  position: absolute;
}
/* line 149, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-type .g-tag .u-tag .tri, .m-refund .m-type .g-tag .u-tag .tri {
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 0.53333rem solid #e9e9e9;
  border-left: 0.53333rem solid transparent;
}
/* line 157, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-type .g-tag .u-tag .iconfont, .m-refund .m-type .g-tag .u-tag .iconfont {
  top: 0;
  right: 0.06667rem;
  font-size: 0.16rem;
  line-height: 0.22667rem;
  color: #ffffff;
}
/* line 164, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-type .g-tag .u-tag.chosen, .m-refund .m-type .g-tag .u-tag.chosen {
  border-color: #ff6414;
  color: #ff6414;
}
/* line 167, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-type .g-tag .u-tag.chosen .tri, .m-refund .m-type .g-tag .u-tag.chosen .tri {
  border-top: 0.53333rem solid #ff6414;
}
/* line 175, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-amount .amount, .m-refund .m-amount .amount {
  width: 9.44rem;
  height: 1.02667rem;
  margin: 0.4rem 0 0.29333rem 0.25333rem;
  padding-left: 0.24rem;
  font-size: 0.32rem;
}
/* line 185, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-reason .iconfont, .m-refund .m-reason .iconfont {
  float: right;
  font-size: 0.21333rem;
  line-height: 1.17333rem;
  margin-right: 0.29333rem;
}
/* line 191, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-reason .reason, .m-refund .m-reason .reason {
  font-size: 0.34667rem;
  background: #fff9f6;
}
/* line 194, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-reason .reason li, .m-refund .m-reason .reason li {
  height: 1.16rem;
  margin-left: 0.26667rem;
  line-height: 1.16rem;
  border-bottom: 1px solid #f2f2f2;
}
/* line 203, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-description textarea, .m-refund .m-description textarea {
  width: 9.44rem;
  height: 2.74667rem;
  border: 1px solid #f2f2f2;
  margin: 0.4rem 0 0 0.25333rem;
  padding: 0.06667rem 0 0 0.2rem;
  font-size: 0.32rem;
  line-height: 0.45333rem;
}
/* line 214, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-photo .item, .m-refund .m-photo .item {
  float: left;
  margin: 0.30667rem 0 0.4rem 0.26667rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1.46667rem;
  height: 1.46667rem;
}
/* line 221, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-photo .add, .m-refund .m-photo .add {
  text-align: center;
  border: 2px solid #d9d9d9;
}
/* line 224, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-photo .add .iconfont, .m-refund .m-photo .add .iconfont {
  font-size: 0.33333rem;
  display: block;
  color: #999999;
  line-height: 1;
  margin-top: 0.4rem;
}
/* line 231, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-photo .add .text, .m-refund .m-photo .add .text {
  font-size: 0.24rem;
  line-height: 0.36rem;
  color: #b6b6b6;
}
/* line 238, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-submit, .m-refund .m-submit {
  text-align: center;
  padding: 0.26667rem 0 1.29333rem;
}
/* line 241, ../../../sass/dhy/module/refund.scss */
.m-apply-refund .m-submit button, .m-refund .m-submit button {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 9.46667rem;
  height: 1.17333rem;
  margin: 0.13333rem 0;
}

/* line 262, ../../../sass/dhy/module/refund.scss */
.m-refund .m-process-pa {
  position: relative;
}
/* line 264, ../../../sass/dhy/module/refund.scss */
.m-refund .m-process-pa .step {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-align: center;
}
/* line 268, ../../../sass/dhy/module/refund.scss */
.m-refund .m-process-pa .step .iconfont {
  font-size: 0.45333rem;
  background: #fff9f6;
  border: 1px solid #ff5e0e;
  color: #ff5e0e;
  padding: 0.29333rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 1.09333rem;
}
/* line 278, ../../../sass/dhy/module/refund.scss */
.m-refund .m-process-pa .left {
  left: 2.4rem;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 282, ../../../sass/dhy/module/refund.scss */
.m-refund .m-process-pa .right {
  right: 2.4rem;
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}
/* line 286, ../../../sass/dhy/module/refund.scss */
.m-refund .m-process-pa .arrow {
  position: absolute;
  left: 50%;
  top: 0.54667rem;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 292, ../../../sass/dhy/module/refund.scss */
.m-refund .m-process-pa .arrow .line {
  width: 3.46667rem;
  height: 0;
  border-bottom: 2px solid #e9e9e9;
}
/* line 297, ../../../sass/dhy/module/refund.scss */
.m-refund .m-process-pa .arrow .iconfont {
  vertical-align: middle;
  position: absolute;
  right: 0;
  bottom: 0;
  -moz-transform: translate(70%, 45%);
  -ms-transform: translate(70%, 45%);
  -webkit-transform: translate(70%, 45%);
  transform: translate(70%, 45%);
  font-size: 0.24rem;
}
/* line 308, ../../../sass/dhy/module/refund.scss */
.m-refund .m-refund-progress .g-money {
  padding: 0.4rem 0;
  border-bottom: 1px dashed #eee;
}
/* line 312, ../../../sass/dhy/module/refund.scss */
.m-refund .m-refund-progress .money {
  text-align: center;
  width: 9.46667rem;
  -moz-border-radius: 0.86667rem;
  -webkit-border-radius: 0.86667rem;
  border-radius: 0.86667rem;
  padding: 0.4rem 0;
  background: #fff9f6;
  margin: 0 auto;
}
/* line 319, ../../../sass/dhy/module/refund.scss */
.m-refund .m-refund-progress .money .amount {
  font-size: 0.4rem;
  color: #ff6414;
  line-height: 0.45333rem;
}
/* line 324, ../../../sass/dhy/module/refund.scss */
.m-refund .m-refund-progress .money .amount .number:before {
  content: "\00a5";
}
/* line 329, ../../../sass/dhy/module/refund.scss */
.m-refund .m-refund-progress .money .tip {
  padding-top: 0.21333rem;
  color: #666;
}
/* line 334, ../../../sass/dhy/module/refund.scss */
.m-refund .m-refund-progress .g-process {
  padding: 0.38667rem 0 0.45333rem;
  border-bottom: 1px solid #f2f2f2;
}
/* line 337, ../../../sass/dhy/module/refund.scss */
.m-refund .m-refund-progress .g-process .m-process-pa {
  min-height: 1.90667rem;
}
/* line 340, ../../../sass/dhy/module/refund.scss */
.m-refund .m-refund-progress .g-process .msg {
  font-size: 0.32rem;
  color: #666;
}
/* line 344, ../../../sass/dhy/module/refund.scss */
.m-refund .m-refund-progress .g-process .time {
  font-size: 0.26667rem;
  color: #666;
}
/* line 349, ../../../sass/dhy/module/refund.scss */
.m-refund .m-refund-progress .g-detail {
  font-size: 0.37333rem;
}
/* line 351, ../../../sass/dhy/module/refund.scss */
.m-refund .m-refund-progress .g-detail .detail {
  height: 1.16rem;
  line-height: 1.16rem;
  margin-left: 0.28rem;
}
/* line 355, ../../../sass/dhy/module/refund.scss */
.m-refund .m-refund-progress .g-detail .detail:nth-last-child(n+2) {
  border-bottom: 1px solid #f2f2f2;
}
/* line 361, ../../../sass/dhy/module/refund.scss */
.m-refund .m-refund-des {
  font-size: 0.32rem;
}
/* line 363, ../../../sass/dhy/module/refund.scss */
.m-refund .m-refund-des .g-des {
  padding: 0.02667rem 0.32rem 0.41333rem;
}
/* line 367, ../../../sass/dhy/module/refund.scss */
.m-refund .m-refund-des .m-des .exec {
  padding-top: 0.16rem;
  font-size: 0.32rem;
  line-height: 0.48rem;
}
/* line 371, ../../../sass/dhy/module/refund.scss */
.m-refund .m-refund-des .m-des .exec:before {
  content: "\00b7";
}
/* line 375, ../../../sass/dhy/module/refund.scss */
.m-refund .m-refund-des .m-des .des {
  color: #666;
  line-height: 0.37333rem;
  margin-top: 0.10667rem;
  margin-left: 0.21333rem;
}
